<div id="div-proyectos-excel">
     <div class="clearfix mb-3">
        <button class="btn btn-primary pull-left" ng-click="abrirModalCrear()">Proyecto</button>
        <div class="form-group mb-0 pull-right" style="width: 300px;">
            <input type="text" class="form-control" ng-model="buscadorGeneral" placeholder="Buscar..." />
        </div>
    </div>

    <hr />

    <div class="table-responsive">
        <div class="table-container">

            <table id="tabla-proyectos-excel" class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>COOPERATIVA/INSTITUCION</th>
                        <th>CODIFICACION</th>
                        <th>CONTACTO CLIENTE</th>
                        <th>CORREO CONTACTO CLIENTE</th>
                        <th>VERSION</th>
                        <th>VISUAL</th>
                        <th>REPOSITORIO</th>
                        <th>ADM CODI</th>
                        <th>INTEGRACION</th>
                        <th>PUBLICACION</th>
                        <th>UBICACION</th>
                        <th>VERSION BD</th>
                        <th>SOLUCION</th>
                        <th>LIDER DE PROYECTO</th>
                        <th>PATH FUENTES FIN DIA</th>
                        <th>FECHA SALIDA</th>
                        <th>ACCIONES</th>
                    </tr>
                    <tr>
                        <th><input type="text" class="form-control" ng-model="filtro.cooperativa" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.codificacion" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.contactoCliente" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.correoContactoCliente" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.version" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.visual" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.repositorio" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.admCod" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.integracion" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.publicacion" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.ubicacion" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.versionBd" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.solucion" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.liderProyecto" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.pathFuentesFinDia" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.fechaSalida" /></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="proyecto in proyectos | filter:buscadorGeneral | filter:filtro | itemsPerPage: 10" style="cursor:pointer;">
                        <td>{{ proyecto.cooperativa }}</td>
                        <td>{{ proyecto.codificacion }}</td>
                        <td>{{ proyecto.contactoCliente }}</td>
                        <td>{{ proyecto.correoContactoCliente }}</td>
                        <td>{{ proyecto.version }}</td>
                        <td>{{ proyecto.visual }}</td>
                        <td>{{ proyecto.repositorio }}</td>
                        <td>{{ proyecto.admCod }}</td>
                        <td>{{ proyecto.integracion }}</td>
                        <td>{{ proyecto.publicacion }}</td>
                        <td>{{ proyecto.ubicacion }}</td>
                        <td>{{ proyecto.versionBd }}</td>
                        <td>{{ proyecto.solucion }}</td>
                        <td>{{ proyecto.liderProyecto }}</td>
                        <td>{{ proyecto.pathFuentesFinDia }}</td>
                        <td>{{ proyecto.fechaSalida }}</td>
                        <td style="white-space: nowrap;">
                            <button class="btn btn-warning" ng-click="abrirModalEditar(proyecto, $event)">Editar</button>
                            <button class="btn btn-danger" ng-click="eliminarProyecto(proyecto, $event)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div> </div> <div class="text-center">
        <dir-pagination-controls
            max-size="8"
            direction-links="true"
            boundary-links="true"
            next-text="Siguiente"
            previous-text="Anterior">
        </dir-pagination-controls>
    </div>


    <div class="modal fade" id="proyectoModal" tabindex="-1" role="dialog" aria-labelledby="proyectoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form name="proyectoForm" novalidate ng-submit="guardarProyecto()">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" ng-click="cerrarModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="proyectoModalLabel">
                            {{ proyectoFormData.id ? 'Editar Proyecto' : 'Crear Proyecto' }}
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.cooperativa.$touched && proyectoForm.cooperativa.$invalid}">
                                <label for="cooperativa">COOPERATIVA/INSTITUCION</label>
                                <select id="cooperativa" name="cooperativa" class="form-control" ng-model="proyectoFormData.cooperativa" ng-options="c.Descripcion for c in clientes track by c.Descripcion" required>
                                    <option value="">Seleccione...</option>
                                </select>
                                <div class="help-block" ng-show="proyectoForm.cooperativa.$touched && proyectoForm.cooperativa.$error.required">Este campo es obligatorio.</div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.version.$touched && proyectoForm.version.$invalid}">
                                <label for="version">VERSION</label>
                                <select id="version" name="version" class="form-control" ng-model="proyectoFormData.version" ng-options="v.Descripcion for v in versiones track by v.Descripcion" required>
                                    <option value="">Seleccione...</option>
                                </select>
                                <div class="help-block" ng-show="proyectoForm.version.$touched && proyectoForm.version.$error.required">Este campo es obligatorio.</div>
                            </div>

                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.visual.$touched && proyectoForm.visual.$invalid}">
                                <label for="visual">VISUAL</label>
                                <select id="visual" name="visual" class="form-control" ng-model="proyectoFormData.visual" ng-options="v.Descripcion for v in visuales track by v.Descripcion" required>
                                    <option value="">Seleccione...</option>
                                </select>
                                <div class="help-block" ng-show="proyectoForm.visual.$touched && proyectoForm.visual.$error.required">Este campo es obligatorio.</div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.repositorio.$touched && proyectoForm.repositorio.$invalid}">
                                <label for="repositorio">REPOSITORIO</label>
                                <select id="repositorio" name="repositorio" class="form-control" ng-model="proyectoFormData.repositorio" ng-options="r.Descripcion for r in repositorios track by r.Descripcion" required>
                                    <option value="">Seleccione...</option>
                                </select>
                                <div class="help-block" ng-show="proyectoForm.repositorio.$touched && proyectoForm.repositorio.$error.required">Este campo es obligatorio.</div>
                            </div>

                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.admCod.$touched && proyectoForm.admCod.$invalid}">
                                <label for="admCod">ADM CODIGO</label>
                                <select id="admCod" name="admCod" class="form-control" ng-model="proyectoFormData.admCod" ng-options="resp.Nombre for resp in responsables track by resp.Nombre" required>
                                    <option value="">Seleccione...</option>
                                </select>
                                <div class="help-block" ng-show="proyectoForm.admCod.$touched && proyectoForm.admCod.$error.required">Este campo es obligatorio.</div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.integracion.$touched && proyectoForm.integracion.$invalid}">
                                <label for="integracion">INTEGRACION</label>
                                <select id="integracion" name="integracion" class="form-control" ng-model="proyectoFormData.integracion" ng-options="resp.Nombre for resp in responsables track by resp.Nombre" required>
                                    <option value="">Seleccione...</option>
                                </select>
                                <div class="help-block" ng-show="proyectoForm.integracion.$touched && proyectoForm.integracion.$error.required">Este campo es obligatorio.</div>
                            </div>

                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.publicacion.$touched && proyectoForm.publicacion.$invalid}">
                                <label for="publicacion">PUBLICACION</label>
                                <select id="publicacion" name="publicacion" class="form-control" ng-model="proyectoFormData.publicacion" ng-options="resp.Nombre for resp in responsables track by resp.Nombre" required>
                                    <option value="">Seleccione...</option>
                                </select>
                                <div class="help-block" ng-show="proyectoForm.publicacion.$touched && proyectoForm.publicacion.$error.required">Este campo es obligatorio.</div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.liderProyecto.$touched && proyectoForm.liderProyecto.$invalid}">
                                <label for="liderProyecto">LIDER DE PROYECTO</label>
                                <select id="liderProyecto" name="liderProyecto" class="form-control" ng-model="proyectoFormData.liderProyecto" ng-options="col.NombreCompleto for col in colaboradores track by col.NombreCompleto" required>
                                    <option value="">Seleccione...</option>
                                </select>
                                <div class="help-block" ng-show="proyectoForm.liderProyecto.$touched && proyectoForm.liderProyecto.$error.required">Este campo es obligatorio.</div>
                            </div>

                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.solucion.$touched && proyectoForm.solucion.$invalid}">
                                <label for="solucion">SOLucion</label>
                                <select id="solucion" name="solucion" class="form-control" ng-model="proyectoFormData.solucion" required>
                                    <option value="">Seleccione...</option>
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                                <div class="help-block" ng-show="proyectoForm.solucion.$touched && proyectoForm.solucion.$error.required">Este campo es obligatorio.</div>
                            </div>
                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.pathFuentesFinDia.$touched && proyectoForm.pathFuentesFinDia.$invalid}">
                                <label for="pathFuentesFinDia">PATH FUENTES FIN DIA</label>
                                <input id="pathFuentesFinDia" name="pathFuentesFinDia" type="text" class="form-control" ng-model="proyectoFormData.pathFuentesFinDia" required />
                                <div class="help-block" ng-show="proyectoForm.pathFuentesFinDia.$touched && proyectoForm.pathFuentesFinDia.$error.required">Este campo es obligatorio.</div>
                            </div>

                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.ubicacion.$touched && proyectoForm.ubicacion.$invalid}">
                                <label for="ubicacion">UBICACION</label>
                                <select id="ubicacion" name="ubicacion" class="form-control" ng-model="proyectoFormData.ubicacion" ng-options="resp.Nombre for resp in responsables track by resp.Nombre" required>
                                    <option value="">Seleccione...</option>
                                </select>
                                <div class="help-block" ng-show="proyectoForm.ubicacion.$touched && proyectoForm.ubicacion.$error.required">Este campo es obligatorio.</div>
                            </div>

                            <div class="form-group col-sm-6" ng-class="{'has-error': proyectoForm.versionBd.$touched && proyectoForm.versionBd.$invalid}">
                                <label for="versionBd">VERSION BASE DE DATOS</label>
                                <select id="versionBd" name="versionBd" class="form-control" ng-model="proyectoFormData.versionBd" ng-options="vbd.Descripcion for vbd in versionesBd track by vbd.Descripcion" required>
                                    <option value="">Seleccione...</option>
                                </select>
                                <div class="help-block" ng-show="proyectoForm.versionBd.$touched && proyectoForm.versionBd.$error.required">Este campo es obligatorio.</div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="proyectoForm.$invalid">
                            {{ proyectoFormData.id ? 'Actualizar' : 'Crear' }}
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrarModal()">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>