<div ng-controller="indicadoresTickets" >

    <div style="column-count: 3">
        <div>
            <div class="div-info-ticket">
                <label for="fecha-inicio-etapa">FECHA INICIO</label>
                <div class='input-group date'>
                    <input id="fecha-inicio-indicadores-tickets" ng-model="fechaInicio" class="form-control" ng-required="true" autocomplete="off" />
                </div>
            </div>

            <div class="div-info-ticket">
                <label for="fecha-fin-etapa">FECHA FIN</label>
                <div class='input-group date'>
                    <input id="fecha-fin-indicadores-tickets" ng-model="fechaFin" class="form-control" ng-required="true" autocomplete="off" />
                </div>
            </div>
        </div>       
        <div>
            <button id="buscar-btn" class="btn btn-primary" ng-click="buscarDatos()">Buscar</button>
        </div>
    </div>

    <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); grid-gap: 20px; overflow-y: auto; max-height: 100vh;">

        <!-- Gráfico de barras para contar tickets por cliente -->
        <div style="margin: 10px;" ng-show="mostrarGraficos">
            <canvas id="clientesChart" width="400" height="400"></canvas>
            <div id="tabla-clientes" ng-bind-html="generarTablaHTML(clientesData, ['Cliente', 'Cantidad'])"></div>
        </div>

        <!-- Gráfico de barras apiladas para contar tickets por estado y prioridad -->
        <div style="margin: 10px;" ng-show="mostrarGraficos">
            <canvas id="estadosPrioridadesChart" width="400" height="400"></canvas>
            <div id="tabla-estados-prioridades" ng-bind-html="generarTablaHTML(estadosPrioridadesData, ['Estado', 'Prioridad', 'Cantidad'])"></div>
        </div>

        <!-- Gráfico de donut para mostrar la proporción de tipos de tickets -->
        <div style="margin: 10px;" ng-show="mostrarGraficos">
            <canvas id="tiposChart" width="400" height="400"></canvas>
            <div id="tabla-tipos" ng-bind-html="generarTablaHTML(tiposData, ['Tipo', 'Cantidad'])"></div>
        </div>

        <!-- Gráfico de líneas para mostrar la tendencia de tickets a lo largo del tiempo -->
        <div style="margin: 10px;" ng-show="mostrarGraficos">
            <canvas id="tendenciaChart" width="400" height="400"></canvas>
            <div id="tabla-tendencia" ng-bind-html="generarTablaHTML(ingresosPorDia, ['Fecha', 'Cantidad'])"></div>
        </div>

        <!-- Gráfico de distribución para mostrar la distribución de tickets -->
        <div style="margin: 10px;" ng-show="mostrarGraficos">
            <canvas id="distribucionChart" width="400" height="400"></canvas>
            <div id="tabla-distribucion" ng-bind-html="generarTablaHTML(distribucionTicketsPorClienteEstado, ['Cliente', 'Estado', 'Cantidad'])"></div>
        </div>

    </div>
    
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
</div>
