<div ng-controller="indicadoresTickets" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); grid-gap: 20px; overflow-y: auto; max-height: 100vh;">
    <!-- Gráfico de barras para contar tickets por cliente -->
    <div style="margin: 10px;">
        <canvas id="clientesChart" width="400" height="400"></canvas>
    </div>

    <!-- Gráfico de barras apiladas para contar tickets por estado y prioridad -->
    <div style="margin: 10px;">
        <canvas id="estadosPrioridadesChart" width="400" height="400"></canvas>
    </div>

    <!-- Gráfico de donut para mostrar la proporción de tipos de tickets -->
    <div style="margin: 10px;">
        <canvas id="tiposChart" width="400" height="400"></canvas>
    </div>

    <!-- Gráfico de líneas para mostrar la tendencia de tickets a lo largo del tiempo -->
    <div style="margin: 10px;">
        <canvas id="tendenciaChart" width="400" height="400"></canvas>
    </div>

    <div style="margin: 10px;">
        <canvas id="distribucionChart" width="400" height="400"></canvas>
    </div>

    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
</div>
