@{
    ViewBag.Title = "Tickets por Año y Gestor";
}

<div ng-app="indicadores" ng-controller="indicadoresGestores">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#anio-gestor" role="tab" data-toggle="tab">Tickets por Cliente</a></li>
        <li><a href="#mes-gestor" role="tab" data-toggle="tab">Por Fecha y Gestores</a></li>
        <li><a href="#mes-gestor-analizados" role="tab" data-toggle="tab">Analizados</a></li>
        <li><a href="#mes-gestor-invertido" role="tab" data-toggle="tab">Tiempo Invertido</a></li>
        <li><a href="#mes-anulado-rechazado" role="tab" data-toggle="tab">Anulado / Rechazado</a></li>
        <li><a href="#indicadores-gestor" role="tab" data-toggle="tab">Indicadores</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="anio-gestor">
            <div class="form-inline">
                <div class="form-group">
                    <label for="anio">Año:</label>
                    <select id="anio" class="form-control" ng-model="anioSeleccionado" ng-change="darTicketsPorAnioGestor()" style="width: auto; margin-left: 10px;">
                        <option ng-repeat="anio in anios" value="{{anio}}">{{anio}}</option>
                    </select>
                </div>

                <div class="form-group" style="margin-left: 20px;">
                    <label for="gestor">Gestor:</label>
                    <select id="gestor" class="form-control" ng-model="gestorSeleccionado" ng-change="darTicketsPorAnioGestor()" style="width: auto; margin-left: 10px;">
                        <option value="TODOS">*</option>
                        <option ng-repeat="gestor in gestores" value={{gestor.nombre}}> {{gestor.nombre}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000" style="width: 100%">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                            <table class="table table-bordered table-striped table-condensed" ng-if="datos.length > 0">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th ng-repeat="mes in meses">{{mes}}</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cliente in datos">
                                        <td>{{cliente.Cliente}}</td>
                                        <td ng-repeat="mes in meses">{{cliente.TicketsPorMes[($index + 1)] || 0}}</td>
                                        <td>{{cliente.Total}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Total</strong></td>
                                        <td ng-repeat="mes in meses"><strong>{{totalesPorMes[$index]}}</strong></td>
                                        <td><strong>{{totalTickets}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="item" style="height: 500px; width: 100%;">
                        <div style="position: relative; height: 100%; width: 100%;">
                            <canvas id="ticketsAnioGestorChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="mes-gestor">
            <div class="form-inline" style="display: flex; align-items: center; justify-content: flex-start;">
                <div>
                    <label>FECHA INICIO</label>
                    <div class='input-group date'>
                        <input id="fecha-inicio-gestores" ng-model="finicioGestores" format-date class="form-control" ng-required="true" autocomplete="off" />
                    </div>
                    <label>  </label>
                </div>

                <div>
                    <label>FECHA FIN</label>
                    <div class='input-group date'>
                        <input id="fecha-fin-gestores" ng-model="ffinGestores" format-date class="form-control" ng-required="true" autocomplete="off" />
                    </div>
                </div>
                <div>
                    <label>  </label>
                    <button id="buscar-btn" class="btn btn-primary" ng-click="darTicketIntervaloGestores()">Actualizar</button>
                </div>
            </div>
            <br>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="height: 500px; overflow-y: auto">
                        <table class="table table-bordered table-striped table-condensed" width="100%" ng-if="ticketIntervaloGestores.length > 0">
                            <thead>
                                <tr>
                                    <th>Gestor</th>
                                    <th>Número de Tickets analizados</th>
                                    <th>Tiempo en Minutos invertido en Análisis</th>
                                    <th>Tiempo en Horas invertido en Análisis</th>
                                    <th>Clientes atendidos</th>
                                    <th>Cartera Asignada</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ticket in ticketIntervaloGestores">
                                    <td>{{ticket.Gestor}}</td>
                                    <td>{{ticket.NumeroTickets}}</td>
                                    <td>{{ticket.TiempoMinutos}}</td>
                                    <td>{{ticket.TiempoHoras}}</td>
                                    <td>{{ticket.ClientesAtendidos}}</td>
                                    <td>{{ticket.CarteraAsignada}}</td>
                                </tr>

                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td><strong>{{getTotal('NumeroTickets')}}</strong></td>
                                    <td><strong>{{getTotal('TiempoMinutos')}}</strong></td>
                                    <td><strong>{{getTotal('TiempoHoras')}}</strong></td>
                                    <td><strong>{{getTotal('ClientesAtendidos')}}</strong></td>
                                    <td><strong>{{getTotal('CarteraAsignada')}}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="item" style="height: 500px; width: 100%;">
                        <div style="position: relative; height: 100%; width: 100%;">
                            <canvas id="ticketsIntervaloChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="mes-gestor-analizados">
            <div class="form-inline" style="display: flex; align-items: center; justify-content: flex-start;">
                <div>
                    <label>FECHA INICIO</label>
                    <div class='input-group date'>
                        <input id="finit-analizados" ng-model="finitAnalizados" format-date class="form-control" ng-required="true" autocomplete="off" />
                    </div>
                    <label>  </label>
                </div>

                <div>
                    <label>FECHA FIN</label>
                    <div class='input-group date'>
                        <input id="ffin-analizados" ng-model="ffinAnalizados" format-date class="form-control" ng-required="true" autocomplete="off" />
                    </div>
                </div>
                <div>
                    <label>  </label>
                    <button id="buscar-analizados-btn" class="btn btn-primary" ng-click="darTicketAnalizadosGestores()">Actualizar</button>
                </div>
            </div>
            <br>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="height: 500px; overflow-y: auto">
                        <table class="table table-bordered table-striped table-condensed" width="100%" ng-if="ticketsAnalizados.length > 0">
                            <thead>
                                <tr>
                                    <th>Gestor</th>
                                    <th>Mes</th>
                                    <th>Número de Tickets Analizados</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ticket in ticketsAnalizados">
                                    <td>{{ticket.Gestor}}</td>
                                    <td>{{ticket.Mes}} - {{ticket.Anio}}</td>
                                    <td>{{ticket.NumeroTickets}}</td>
                                </tr>

                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td></td>
                                    <td><strong>{{getTotalTicketsAnalizados()}}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="item" style="height: 500px; width: 100%;">
                        <div style="position: relative; height: 100%; width: 100%;">
                            <canvas id="ticketsAnalizadosChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="mes-gestor-invertido">
            <div class="form-inline" style="display: flex; align-items: center; justify-content: flex-start;">
                <div>
                    <label>FECHA INICIO</label>
                    <div class='input-group date'>
                        <input id="fecha-inicio-invertido" ng-model="fechaInicioInvertido" format-date class="form-control" ng-required="true" autocomplete="off" />
                    </div>
                    <label>  </label>
                </div>

                <div>
                    <label>FECHA FIN</label>
                    <div class='input-group date'>
                        <input id="fecha-fin-invertido" ng-model="fechaFinInvertido" format-date class="form-control" ng-required="true" autocomplete="off" />
                    </div>
                </div>
                <div>
                    <label>  </label>
                    <button id="buscar-invertido-btn" class="btn btn-primary" ng-click="darTicketTiempoGestores()">Actualizar</button>
                </div>
            </div>
            <br>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="height: 500px; overflow-y: auto">
                        <table class="table table-bordered table-striped table-condensed" width="100%" ng-if="ticketsTiempoInvertido.length > 0">
                            <thead>
                                <tr>
                                    <th>Gestor</th>
                                    <th ng-repeat="label in ticketsTiempoInvertidoLabels">{{label}}</th>
                                    <th>Tiempo Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(gestor, tiempos) in ticketsTiempoInvertidoAgrupado">
                                    <td>{{gestor}}</td>
                                    <td ng-repeat="label in ticketsTiempoInvertidoLabels">
                                        {{tiempos[label] || 0}} horas
                                    </td>
                                    <td>{{sumarTiempos(tiempos)}} horas</td>
                                </tr>

                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td ng-repeat="label in ticketsTiempoInvertidoLabels">
                                        <strong>{{getTotalPorColumna(label)}} horas</strong>
                                    </td>
                                    <td><strong>{{getTotalGeneral()}} horas</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="item" style="height: 500px; width: 100%;">
                        <div style="position: relative; height: 100%; width: 100%;">
                            <canvas id="ticketsInvertidoChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="mes-anulado-rechazado">
            <div class="form-inline" style="display: flex; align-items: center; justify-content: flex-start;">
                <div>
                    <label>FECHA INICIO</label>
                    <div class='input-group date'>
                        <input id="fecha-inicio-anulado" ng-model="fechaInicioAnulado" format-date class="form-control" ng-required="true" autocomplete="off" />
                    </div>
                    <label>  </label>
                </div>

                <div>
                    <label>FECHA FIN</label>
                    <div class='input-group date'>
                        <input id="fecha-fin-anulado" ng-model="fechaFinAnulado" format-date class="form-control" ng-required="true" autocomplete="off" />
                    </div>
                </div>
                <div>
                    <label>  </label>
                    <button id="buscar-anulados-btn" class="btn btn-primary" ng-click="darTicketAnuladosRechazados()">Actualizar</button>
                </div>
            </div>
            <br>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="height: 500px; overflow-y: auto">
                        <table class="table table-bordered table-striped table-condensed" width="100%" ng-if="anuladosRechazados.length > 0">
                            <thead>
                                <tr>
                                    <th>Gestor</th>
                                    <th>Anio/Mes</th>
                                    <th>Tickets Ingresados</th>
                                    <th>Tickets Anulados/Rechazados</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ticket in anuladosRechazados">
                                    <td>{{ticket.Gestor}}</td>
                                    <td>{{ticket.Anio}}/{{ticket.Mes}}</td>
                                    <td>{{ticket.Ingresado}}</td>
                                    <td>{{ticket.AnuladoRechazado}}</td>
                                </tr>

                                <tr>
                                    <td colspan="2"><strong>Totales</strong></td>
                                    <td><strong>{{getTotalIngresados()}}</strong></td>
                                    <td><strong>{{getTotalAnuladosRechazados()}}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="item" style="height: 500px; width: 100%;">
                        <div style="position: relative; height: 100%; width: 100%;">
                            <canvas id="anuladoRechazadoChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="indicadores-gestor">
            <div class="form-inline" style="display: flex; align-items: center; justify-content: flex-start;">
                <div>
                    <label>FECHA INICIO</label>
                    <div class='input-group date'>
                        <input id="fecha-inicio-anulado-indicadores" ng-model="fechaInicioAnuladoIndicadores" format-date class="form-control" ng-required="true" autocomplete="off" />
                    </div>
                    <label>  </label>
                </div>

                <div>
                    <label>FECHA FIN</label>
                    <div class='input-group date'>
                        <input id="fecha-fin-anulado-indicadores" ng-model="fechaFinAnuladoIndicadores" format-date class="form-control" ng-required="true" autocomplete="off" />
                    </div>
                </div>
                @*<div class="form-group" style="margin-left: 20px;">
                        <label>Gestor:</label>
                        <select id="gestor-indicadores" class="form-control" ng-model="secuencialGestorIndicadores" ng-change="darTicketAnuladosRechazadosIndicadores()" style="width: auto; margin-left: 10px;">
                            <option value="0">*</option>
                            <option ng-repeat="gestor in gestores" value={{gestor.idColaborador}}> {{gestor.nombre}}</option>
                        </select>
                    </div>*@
                <div>
                    <label>  </label>
                    <button id="buscar-anulados-btn" class="btn btn-primary" ng-click="darTicketAnuladosRechazadosIndicadores()">Actualizar</button>
                </div>
            </div>
            <br>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="height: 500px; overflow-y: auto">
                        <table class="table table-striped table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Gestor</th>
                                    <th ng-repeat="mesFormateado in mesesFormateados">{{mesFormateado}}</th>
                                    <th>Porcentaje Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="gestor in gestores">
                                    <td>{{gestor.nombre}}</td>
                                    <td ng-repeat="mesFormateado in mesesFormateados">
                                        {{tableData[gestor.nombre][mesFormateado].porcentage}} %
                                    </td>
                                    <td> <strong> {{tableData[gestor.nombre].totalIngresados > 0 ? ((tableData[gestor.nombre].totalAnuladosRechazados / tableData[gestor.nombre].totalIngresados) * 100).toFixed(2) : 0}} %</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Indicador % de tickets rechazados/anulados</strong></td>
                                    <td ng-repeat="mesFormateado in mesesFormateados">
                                        <strong>{{totalPorcentagePorMes[mesFormateado]}} %</strong>
                                    </td>
                                    <td><strong>{{totalPorcentageGeneral}} %</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Indicador % de tickets validados para atención</strong></td>
                                    <td ng-repeat="mesFormateado in mesesFormateados">
                                        <strong>{{(100 - totalPorcentagePorMes[mesFormateado]).toFixed(2)}} %</strong>
                                    </td>
                                    <td><strong>{{totalPorcentageValidado}} %</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="item" style="height: 500px; overflow-y: auto; padding: 20px;">
                        <h3>Fórmulas para calcular los indicadores</h3>
                        <p><strong>Indicador % de tickets rechazados/anulados:</strong></p>
                        <p style="font-size: 1.2em;">$$\text{Porcentaje} = \left( \frac{\text{Total de tickets anulados/rechazados}}{\text{Total de tickets ingresados}} \right) \times 100$$</p>
                        <p><strong>Indicador % de tickets validados para atención:</strong></p>
                        <p style="font-size: 1.2em;">$$\text{Porcentaje} = 100 - \text{Indicador % de tickets rechazados/anulados}$$</p>
                        <p style="font-size: 1.2em; color: #2c3e50; background-color: #ecf0f1; padding: 10px; border-radius: 5px; text-align: center;">
                            <strong>Estos indicadores nos permiten evaluar la eficiencia y calidad del proceso de gestión de tickets, proporcionando una visión clara del rendimiento de cada gestor y del equipo en general.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/javascript" src="~/Web/js/chart.js"></script>
<script type="text/javascript" src="~/Web/js/chartjs-plugin-datalabels.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tab"]').on('click', function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('.carousel').carousel();
    });
</script>
