/*
   Wednesday, November 29, 20239:00:50 AM
   User: 
   Server: MRDEVIL\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.MODULO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.MODULO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.MODULO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.MODULO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TICKET.TICKET ADD CONSTRAINT
	FK_TICKET_MODULO FOREIGN KEY
	(
	SECUENCIALMODULO
	) REFERENCES TAREAS.MODULO
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.TICKET SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.TICKET', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.TICKET', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.TICKET', 'Object', 'CONTROL') as Contr_Per 