/*
   domingo, 17 de marzo de 202415:54:45
   User: 
   Server: DESKTOP-04O1C92\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TICKET.SUBETAPASPROYECTOSCLIENTE ADD
	DETALLE varchar(255) NULL,
	SELECCIONADO numeric(1, 0) NULL,
	PORCIENTO float(53) NULL
GO
ALTER TABLE TICKET.SUBETAPASPROYECTOSCLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.SUBETAPASPROYECTOSCLIENTE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.SUBETAPASPROYECTOSCLIENTE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.SUBETAPASPROYECTOSCLIENTE', 'Object', 'CONTROL') as Contr_Per 