ALTER TABLE [TICKET].[OFERTAS]
ALTER COLUMN [FECHAREGISTRO] date NULL

ALTER TABLE [TICKET].[OFERTAS]
ALTER COLUMN [FECHADISPONIBILIDAD] date NULL

ALTER TABLE [TICKET].[OFERTAS]
ALTER COLUMN [FECHAPRODUCCION] date NULL

ALTER TABLE [TICKET].[OFERTAS]
ALTER COLUMN [FECHAAPROBACION] date NULL
