/*
   miércoles, 10 de abril de 202409:51:48 p. m.
   User: 
   Server: DESKTOP-8ATOCDQ\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TAREAS.SERVICIOIMPLANTACIONCORE
	(
	SECUENCIAL int NOT NULL IDENTITY (1, 1),
	CODIGO varchar(50) NOT NULL,
	DESCRIPCION varchar(50) NOT NULL,
	ESTAACTVO decimal(1, 0) NOT NULL,
	NUMEROVERIFICADOR int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TAREAS.SERVICIOIMPLANTACIONCORE ADD CONSTRAINT
	PK_SERVICIOIMPLANTACIONCORE PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TAREAS.SERVICIOIMPLANTACIONCORE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.SERVICIOIMPLANTACIONCORE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.SERVICIOIMPLANTACIONCORE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.SERVICIOIMPLANTACIONCORE', 'Object', 'CONTROL') as Contr_Per 