/*
   lunes, 15 de abril de 202412:59:01 p. m.
   User: 
   Server: DESKTOP-8ATOCDQ\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.CLIENTEAUXILIAR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.CLIENTEAUXILIAR', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.CLIENTEAUXILIAR', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.CLIENTEAUXILIAR', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.TIEMPOSPROYECTO
	DROP CONSTRAINT FK_TIEMPOSPROYECTO_COLABORADOR
GO
ALTER TABLE TAREAS.COLABORADOR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.TIEMPOSPROYECTO ADD
	SECUENCIALCLIENTEAUXILIAR int NULL
GO
ALTER TABLE TAREAS.TIEMPOSPROYECTO ADD CONSTRAINT
	FK_TIEMPOSPROYECTO_COLABORADOR1 FOREIGN KEY
	(
	SECUENCIALCOLABORADOR
	) REFERENCES TAREAS.COLABORADOR
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TAREAS.TIEMPOSPROYECTO ADD CONSTRAINT
	FK_TIEMPOSPROYECTO_CLIENTEAUXILIAR FOREIGN KEY
	(
	SECUENCIALCLIENTEAUXILIAR
	) REFERENCES TAREAS.CLIENTEAUXILIAR
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TAREAS.TIEMPOSPROYECTO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.TIEMPOSPROYECTO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.TIEMPOSPROYECTO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.TIEMPOSPROYECTO', 'Object', 'CONTROL') as Contr_Per 