<div id="charpie-hoy">

</div>

<div id="charpie-semana">

</div>

<div class="clear"></div>

<div id="charpie-ultimos7dias">

</div>

<div id="charline-ultimos30dias">

</div>

<div class="clear"></div>

<a href="task/monitoreo-tareas" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-globe"></span> Presentación Global Del Desarrollo</a>
