<!--<input type="hidden" name="fechaLunes" id="fechaLunes" ng-model="fechaLunes" />
<input type="hidden" name="esteLunes" ng-model="esteLunes" />
<input type="hidden" name="fechaHoy" ng-model="fechaHoy" />-->
<div class="task-controles">
    <div class="left">
        <button class="btn btn-primary" ng-click="filtrarTareas()"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Aplicar Filtro</button>
        <button class="btn btn-primary" ng-click="modalAsignacionesSemana()"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Enviar Asignaciones</button>
        <button class="btn btn-primary" ng-click="modalNivelConocimientoColaboradores()"><span class="glyphicon glyphicon-thumbs-up"></span> Conocimientos de Colaboradores</button>
        <button class="btn btn-primary" ng-click="cargarExcel()"><span class="glyphicon glyphicon-file"></span> Agregar Tareas con archivo Excel</button>
        <button class="btn btn-primary" ng-click="modalSolicitudTFS()"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Enviar Solicitud Acceso</button>
    </div>

    <div id="loadingDiv">
        <img src="~/Web/images/ajax-loader.gif" />
    </div>

    <div id="control-filtrar">
        <div class="left">
            <input class="form-control filtro" placeholder="Filtrar..." ng-model="filtroTotalAsignaciones" />
        </div>
        <div class="input-append date left">
            <input type="text" class="form-control datepicker-filtro left" ng-model="fechaDiaFiltro">
            <span class="glyphicon glyphicon-th left"></span>
        </div>
        <select id="selectSemanas" ng-model="numeroSemanas" ng-change="cambiarSemanas()" class="form-control">
            <option value="1" selected="selected">1 Semana</option>
            <option value="2">2 Semanas</option>
            <option value="3">3 Semanas</option>
            <option value="4">4 Semanas</option>
        </select>
        <button class="btn btn-primary" ng-click="semanaAtras()"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button class="btn btn-success" ng-click="diaHoy()"><span class="glyphicon glyphicon-home"></span></button>
        <button class="btn btn-primary" ng-click="semanaProxima()"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
</div>

<div class="clear"></div>

<div id="task-container">

    <table class="table table-colaboradores">

        <thead id="thead-colaboradores-tareas">
            <tr>
                <td style="opacity: 0.0;">&nbsp;</td>
                <td class="{{dia.clase}}" ng-repeat="dia in diasCalendar" ng-right-click="mostarOpcionesFeriados($event, dia.date)">{{dia.dia}}</td>
            </tr>
        </thead>

        <tbody id="tbody-colaboradores-tareas">
            <tr ng-repeat="trab in trabajadores | filter:filtroTotalAsignaciones" ng-init="paso = $index">
                <td class="td-colaborador">
                    <div class="colaborador-panel" data-id="{{trab.trab.id}}">
                        <div>
                            {{paso+1}}
                            <span class="btn-enviar-email-asignaciones-persona right glyphicon glyphicon-envelope" ng-click="enviarAsignacionesPersona()" title="Enviar email de tareas"></span>
                            <span class="{{estiloSegunEstadoCoordinacion(trab.trab.id, paso)[0]}}" ng-click="verCoordinadosPersona(trab.trab.id)" title="{{estiloSegunEstadoCoordinacion(trab.trab.id, paso)[1]}}"></span>
                        </div>
                        <div class="img-worker-task">
                            <img ng-src="Web/images/{{trab.trab.url}}">
                        </div>
                        <div class="nombre-trabajador">{{ mySplitEmail( trab.trab.email, 0 ) }}</div>
                        <div class="sede-trabajador">{{trab.trab.sede}}</div>
                    </div>
                </td>

                <td class="td-tareas {{tareas.claseDia}}" ng-repeat="tareas in trab.tareasPorDia" style="width:{{anchoCeldaTarea}};"
                    data-drop="true"
                    data-jqyoui-options=""
                    jqyoui-droppable="{
                                        multiple: true,
                                        stack: true,
                                        onDrop: 'pegarTarea( trab.trab.id )',
                                        onOver: 'tareaEncima()',
                                        onOut: 'tareaFuera()'
                                    }">

                    <div class="bottonAddTask">
                        <span ng-click="addNewTask()" title="Adicionar Tarea">+</span>
                        <span class="right" ng-click="addNewIncidence()" title="Adicionar Incidencia">*</span>
                    </div>
                    <div data-id-tarea="{{tarea.id}}" data-tipo="{{tarea.tipo}}" class="content-tarea {{tarea.clase}}" ng-repeat="tarea in tareas.tareas" ng-click="fechaTarea()"
                         data-container="#task-container" data-toggle="popover" data-placement="right"
                         data-title="{{
                                        &quot;<div class='left'>&quot; + tarea.dCliente + &quot;</div>&quot; +
                                        &quot;<div class='right'><span class='glyphicon glyphicon-menu-hamburger hand btn-tarea-repetir-vertical' data-id-tarea='&quot; + tarea.id + &quot;'</span></div>&quot; +
                                        &quot;<div class='clear'></div>&quot;
                                     }}"
                         data-drag="true"
                         data-jqyoui-options="{revert: 'invalid'}"
                         jqyoui-draggable="{
                                             animate: true,
                                             placeholder: true,
                                             onStart: 'startDrag( tarea.id, trab.trab.id, tarea.tipo )',
                                             onDrag: 'actualizarTabla()'
                                           }"
                         data-content="{{tarea.tipo === &quot;t&quot;?
                                            &quot;Actividad:&quot; + tarea.dActividad + &quot;<br>&quot; +
                                            &quot;Módulo:&quot; + tarea.dModulo + &quot;<br>&quot; +
                                            &quot;Desarrollarse en:&quot; + tarea.dLugar + &quot;<br>&quot; +
                                            (tarea.coordinador != null?&quot;Coordinar con:&quot;+tarea.coordinador+&quot;<br/>&quot;:&quot;&quot;) +
                                            &quot;Detalles:&quot; + tarea.detalle + &quot;<br>&quot; +
                                            &quot;Hora Inicio:&quot; + tarea.finicio + &quot;<br>&quot; +
                                            &quot;Hora Fin:&quot; + tarea.ffin + &quot;<br>&quot; +
                                            &quot;<button class='btn btn-xs btn-success btn-edittask' data-id-tarea='&quot; + tarea.id + &quot;'>Editar</button>&quot; +
                                            &quot;
                                                <div class='right estado-tarea'>
                                                    <span class='glyphicon glyphicon-time btn-tarea-compensatoria' data-id-tarea='&quot; + tarea.id + &quot;' title='Compensatoria - Poner/Quitar'></span>
                                                    &nbsp;
                                                    <span class='glyphicon glyphicon-adjust btn-tarea-preasignada' data-id-tarea='&quot; + tarea.id + &quot;' title='Pre-Asignar'></span>
                                                    &nbsp;
                                                    <span class='glyphicon glyphicon-new-window btn-tarea-asignada' data-id-tarea='&quot; + tarea.id + &quot;' title='Asignar'></span>
                                                    &nbsp;
                                                     <span class='glyphicon glyphicon-remove btn-anulartask' data-id-tarea='&quot; + tarea.id + &quot;' title='Anular'></span>
                                                    &nbsp;
                                                    <span class='glyphicon glyphicon-cog btn-tarea-desarrollo' data-id-tarea='&quot; + tarea.id + &quot;' title='En desarrollo'></span>
                                                    &nbsp;
                                                    <span class='glyphicon glyphicon-pause btn-tarea-pausa' data-id-tarea='&quot; + tarea.id + &quot;' title='En pausa'></span>
                                                    &nbsp;
                                                    <span class='glyphicon glyphicon-search btn-tarea-finish' data-id-tarea='&quot; + tarea.id + &quot;' title='Ver actividades'></span>
                                                </div>
                                            &quot;
                                        :
                                            &quot;Motivo:&quot; + tarea.detalle + &quot;<br>&quot; +
                                            &quot;Hora Inicio:&quot; + tarea.finicio + &quot;<br>&quot; +
                                            &quot;Hora Fin:&quot; + tarea.ffin + &quot;<br>&quot;+
                                            &quot;
	                                            <div class='right estado-tarea'>
		                                             <span class='glyphicon glyphicon-remove btn-anularPermiso' data-id-tarea='&quot; + tarea.id + &quot;' title='Anular'></span>
		                                            &nbsp;
	                                            </div>
                                            &quot;
                                        }}"
                         data-html="true" data-trigger="manual">

                        <div class="cabecera-tarea {{tarea.compensatoria}}">
                            <div class="nombre-cliente">{{tarea.cliente}}</div>
                            <div class="lugar-tarea">{{tarea.lugar}}</div>
                            <div class="clear"></div>
                        </div>
                        <div class="body-tarea">
                            <div>
                                <div class="codigo-actividad-tarea">{{tarea.tipo === 't'?'('+tarea.actividad+')':''}}</div>
                                <div class="modulo-actividad-tarea">{{tarea.modulo}}</div>
                            </div>
                            <div class="clear"></div>
                            <div class="detalle-tarea">
                                {{tarea.sdetalle}}
                            </div>
                            <div class="horas-tarea">{{tarea.horas}}</div>
                            <div class="clear"></div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal Subir Archivo Excel -->
<div class="modal fade" id="modalUploadFile" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    <span id="title-upload-file">Subir Archivo Excel</span>
                </h4>
            </div>

            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="form-excel">
                    <input type="file" name="documentoExcel" id="input-excel" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary right" ng-click="subirArchivo()">Subir</button>
                <button type="button" class="btn btn-danger left" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Nueva Tarea -->
<div class="modal fade" id="modalNewTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                    <span id="title-new-task">Nueva Tarea</span>
                </h4>
            </div>
            <form method="post" id="frm-newTask">
                <div class="modal-body">

                    <input type="hidden" ng-model="idTrabajador" />
                    <input type="hidden" ng-model="idTarea" />
                    <input type="hidden" ng-model="verificadorTarea" />

                    <div id="data-user-tarea" class="fila">
                        <div class="left">
                            <div>
                                <label>{{nombreColaborador}}</label>,
                                <label>{{sede}}</label>,
                                <label>{{fecha_tarea}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <input ng-hide="edicionTareaExtraordinaria" style="margin-left: 5px; vertical-align: top" type="checkbox" ng-model="extraordinaria" />
                        <label ng-show="nuevaTareaExtraordinaria">
                            Extra
                        </label>
                    </div>

                    <div class="clear"></div>

                    <div id="edicion-user-edicion-tarea" style="display: none;" class="fila">
                        <div class="left">
                            <label>Colaborador:</label>
                            <select ng-model="idColaborador" class="form-control control-left">
                                <option ng-repeat="trab in trabajadores" value="{{ trab.trab.id }}">{{ trab.trab.nombre }}, {{trab.trab.sede}}</option>
                            </select>
                        </div>
                        <div class="left">
                            <label>Fecha:</label>
                            <input id="fecha-edit-tarea" ng-model="fechaEditTarea" class="form-control control-right" />
                        </div>
                    </div>

                    <div class="fila">
                        <div class="left">
                            <label>Cliente:</label><br />
                            <select ng-model="cliente" required="required" class="form-control control-left" ng-required="true" ng-change="cargarMotivosTrabajo()">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="client in clientes" value="{{ client.id }}">{{ client.nombre }}</option>
                            </select>
                        </div>

                        <div class="left">
                            <label>Ubicación:</label><br />
                            <select ng-model="ubicacion" required="required" class="form-control control-right" ng-required="true">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="lugar in lugares" value="{{ lugar.id }}">{{ lugar.nombre }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="fila">
                        <div class="left">
                            <label>Actividad:</label><br />
                            <select ng-model="actividad" required="required" class="form-control control-left" ng-required="true">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="act in actividades" value="{{ act.id }}">{{ act.nombre }}</option>
                            </select>
                        </div>
                        <div class="left">
                            <label>Módulo:</label><br />
                            <select ng-model="modulo" required="required" class="form-control control-right" ng-required="true">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="mod in modulos" value="{{ mod.id }}">{{ mod.nombre }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="fila">
                        <div class="left" style="max-width: 45%">
                            <label>Horas y Minutos:</label>
                            <div class="clear">
                                <div class="form-inline">
                                    <select style="width: 57%" ng-model="numero_horas_horas" required="required" class="form-control control-left" ng-required="true">
                                        <option value="0">Seleccione...</option>
                                        <option ng-repeat="h in [1,2,3,4,5,6,7,8]" value="{{ h }}">{{ h }}</option>
                                    </select>
                                    <input id="numberMinutos" type="number" ng-model="numero_horas_minutos" class="form-control control-right" min="0" max="60" value="0" style="width: 35%; margin: 0px 0px 0px 0px" />
                                </div>
                            </div>
                        </div>
                        <div class="right" style="max-width: 45%">
                            <label>Estimación:</label>
                            <div class="clear">
                                <div class="form-inline">
                                    <select style="width: 57%" ng-model="numero_horas_estimadas" required="required" class="form-control control-left" ng-required="true">
                                        <option value="0">Seleccione...</option>
                                        <option ng-repeat="h in [1,2,3,4,5,6,7,8]" value="{{ h }}">{{ h }}</option>
                                    </select>
                                    <input id="numberMinutosEstimados" type="number" ng-model="numero_minutos_estimados" class="form-control control-right" min="0" max="60" value="0" style="width: 35%; margin: 0px 0px 0px 0px" />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="clear"></div>

                    <div class="fila">
                        <div class="left">
                            <label>Motivo Trabajo:</label>
                            <select id="referencia-trabajo-task" class="form-control control-left" ng-model="referencia">
                                <option value="0">Seleccione...</option>
                                <option ng-repeat="ref in referencias" value="{{ref.id}}">{{ref.nombre}}</option>
                            </select>
                        </div>

                        <div class="right">
                            <label>Coordinador:</label>
                            <select ng-model="coordinador" class="form-control control-right">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="cord in coordinadores | orderBy:'nombre'" value="{{ cord.id }}">{{ cord.nombre }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="fila">
                        <label>Detalle:</label>
                        <textarea ng-model="detalle" required="required" class="form-control"></textarea>
                    </div>

                    <div class="clear"></div>

                    <div class="fila">
                        <div class="left">
                            <label>Repetir:</label>
                            <select ng-change="repetirTarea()" ng-model="tarea_repetir" class="form-control control-left">
                                <option value="">NO REPETIR</option>
                                <option ng-repeat="n in frecuenciasRepetir" value="{{ n }}">{{ n }}</option>
                            </select>
                        </div>
                        <div class="left">
                            <label>Fin de Semana:</label>
                            <select ng-model="fin_semana" class="form-control control-right">
                                <option value="">NO INCLUIR FIN DE SEMANA</option>
                                <option value="1">INCLUIR SABADO</option>
                                <option value="2">INCLUIR DOMINGO</option>
                                <option value="3">INCLUIR SABADO Y DOMINGO</option>
                            </select>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div id="datosRepetir" class="fila">
                        <div id="tipoRepetirTarea" class="left separarTipoRepetir">
                            <input type="radio" ng-click="mostrarCampoRepetir()" ng-model="repetirTipoFin" name="repetirTipoFin" value="1" /><label>:Número de Veces</label><br />
                            <input type="radio" ng-click="mostrarCampoRepetir()" ng-model="repetirTipoFin" name="repetirTipoFin" value="2" /><label>:Fecha Fin</label><br />
                        </div>
                        <div class="left camposHastaRepetir">
                            <input type="text" id="repetirNumVeces" class="form-control solo-numero control-right" ng-model="numVeces" />
                            <input type="text" id="repetirFechaHasta" class="form-control control-right" ng-model=" fechahasta" />
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="fila">
                        <div class="left">
                            <label>Referencia Ticket:</label>
                            <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/,'')" id="secuencial-ticket" class="form-control control-left" ng-model="ticketTarea" />

                        </div>
                        <div class="left">
                            <input style="margin-top: 35px;" type="checkbox" ng-model="reproceso" ng-checked="reproceso" />
                            <label>
                                Reproceso
                            </label>
                        </div>
                        <div class="left">
                            <input style="margin-top: 35px; margin-left: 8px;" type="checkbox" ng-model="esProyecto" ng-checked="esProyecto" />
                            <label>
                                Es Proyecto
                            </label>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" ng-click="guardarTarea()">Grabar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Filtro de las Tarea -->
<div class="modal fade" id="modalNewFilter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog .filter">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                    <span id="title-filter">Filtrar tareas</span>
                </h4>
            </div>
            <form method="post" id="frm-filter">
                <div class="modal-body">

                    <div class="filtro-panel">
                        <div class="left menu-tipo-filtro">
                            <div class="btn-group-vertical" role="group">
                                <button class="btn btn-default" ng-click="anadirFiltroColaboradores()">Colaboradores</button>
                                <button class="btn btn-default" ng-click="anadirFiltroClientes()">Clientes</button>
                                <button class="btn btn-default" ng-click="anadirFiltroEstadoTarea()">Estado Tarea</button>
                                <button class="btn btn-default" ng-click="anadirFiltroLugarTarea()">Lugar Tarea</button>
                                <button class="btn btn-default" ng-click="anadirFiltroModulo()">Módulo</button>
                                <button class="btn btn-default" ng-click="anadirFiltroSede()">Sede</button>
                                <button class="btn btn-default" ng-click="anadirFiltroDepartamento()">Departamento</button>
                            </div>
                        </div>

                        <div class="left descripcion-filtro">
                            <button ng-click="desmarcarTodosValores()" class="btn btn-danger btn-xs right botones-filtro">Desmarcar Todos</button>
                            <button ng-click="marcarTodosValores()" class="btn btn-primary btn-xs right botones-filtro">Marcar Todos</button>

                            <div class="panel panel-default panel-valores-filtro">
                                Por favor seleccione un campo de filtrado
                            </div>
                            <div class="panel panel-default panel-json-filtro">
                                Filtro:
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-warning" ng-click="limpiarFiltroTareas()">Limpiar</button>
                    <button type="button" class="btn btn-success" ng-click="aplicarFiltroTareas()">Filtrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal del envío de la semana -->
<div class="modal fade" id="modalEnvioAsig" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog .filter">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalEnvioAsigLabel">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <span id="title-filter">Envío de Asignaciones</span>
                </h4>
            </div>
            <form method="post" id="frm-envio-email">
                <div class="modal-body">
                    {{textoEnviarEmail}} {{ fechaLunes }}. <br /> Establezca la contraseña de su email de SifizSoft.com.<br />
                    <label>Contraseña:</label>
                    <input type="password" ng-model="passEmail" class="form-control" />
                    <div class="clear"></div>

                    <div id="div-adicionar-copia-email">
                        <div id="desplegar-cuadro-emails-copia">CC:...</div>
                        <div id="cuadro-emails-copia">
                            <input type="text" id="adicionar-email-copia" ng-model="emailCopiaAdd" ng-keyup="adicionarEmail($event)" />
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" ng-click="enviarAsignacionesSemana()">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Asignaciones TFS-->
<div class="modal fade" id="modalAsignacionesTFS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <span id="title-filter">Solicitud de Acceso</span>
                </h4>
            </div>
            <form method="post" ng-submit="enviarCorreoTFS()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="clientes">Cliente:</label>
                            <select class="form-control" id="clientes" ng-model="clienteTFS">
                                <option value="">Selecciona un cliente</option>
                                <option ng-repeat="cliente in clientesTFS" value="{{cliente.id}}">{{cliente.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="colaboradores">Colaborador:</label>
                            <select class="form-control" id="colaboradores" ng-model="colaboradorTFS">
                                <option value="">Selecciona un colaborador</option>
                                <option ng-repeat="colaborador in colaboradoresTFS" value="{{colaborador.id}}">{{colaborador.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal de finalizar la tarea -->
<div class="modal fade" id="modal-final-tarea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-final-tarea-label">
                    <span class="glyphicon glyphicon-task" aria-hidden="true"></span>
                    <span id="title-filter">Actividades Realizadas</span>
                </h4>
            </div>

            <div class="modal-body">

                <form method="post" id="frm-modal-final-tarea" ng-submit="adicionarActividadTarea()">
                    <div id="new-actividad-tarea" class="fila">
                        <div class="left">
                            <label>Tipo de Actividad:</label>
                            <select class="form-control tipo-actividad-tarea" ng-model="tipoActividadTarea" ng-required="true">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="actividadTarea in actividadesTarea | orderBy:'nombre'" value="{{actividadTarea.id}}">{{actividadTarea.nombre}}</option>
                            </select>
                        </div>
                        <div class="left" ng-date="">
                            <label>Fecha:</label>
                            <select class="form-control dia-actividad-tarea" ng-model="diaActividadTara" ng-required="true">
                                <option value="">Seleccione...</option>
                                <option value="{{fechaDiaTarea}}">{{fechaDiaTarea}}</option>
                            </select>
                        </div>
                        <div class="left campos-hora">
                            <label>Hora Inicio:</label>
                            <div class="clear">
                                <div class="form-group">
                                    <div class='input-group date' id='dtpk-hora-inicio-actividad-tarea'>
                                        <input type='text' class="form-control" ng-model="horaInicioActividadTarea" ng-required="true" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--
                                <select class="form-control left" ng-model="horaInicioActividadTarea" ng-required="true">
                                    <option value="">Seleccione...</option>
                                    <option ng-repeat="hInicio in horas" value="{{hInicio}}">{{hInicio}}</option>
                                </select>
                                <div class="left dos-puntos">:</div>
                                <select class="form-control left" ng-model="minutoInicioActividadTarea" ng-required="true">
                                    <option value="">Seleccione...</option>
                                    <option ng-repeat="mInicio in minutos" value="{{mInicio}}">{{mInicio}}</option>
                                </select>
                            -->
                        </div>
                        <div class="left campos-hora">
                            <label>Hora Fin:</label>
                            la
                            <div class="form-group">
                                <div class='input-group date' id='dtpk-hora-fin-actividad-tarea'>
                                    <input type='text' class="form-control" ng-model="horaFinActividadTarea" ng-required="true" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @*<div>
                                    <select class="form-control left" ng-model="horaFinActividadTarea" ng-required="true">
                                        <option value="">Seleccione...</option>
                                        <option ng-repeat="hInicio in horas" value="{{hInicio}}">{{hInicio}}</option>
                                    </select>
                                    <div class="left dos-puntos">:</div>
                                    <select class="form-control left" ng-model="minutoFinActividadTarea" ng-required="true">
                                        <option value="">Seleccione...</option>
                                        <option ng-repeat="mInicio in minutos" value="{{mInicio}}">{{mInicio}}</option>
                                    </select>
                                </div>*@
                        </div>
                        <button type="submit" class="left btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Adicionar</button>
                        <div class="clear"></div>
                    </div>
                    <input type="hidden" ng-model="idTareaTerminar" />
                </form>

                <!--
                <label>Tiempo utilizado:</label>
                <input type="text" ng-model="tiempoUtilizado" class="form-control solo-numero" ng-required="true"/>
                <div class="clear"></div>
                -->

                <div id="div-tabla-actividades-tarea">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tipo de Actividad</th>
                                <th>Fecha</th>
                                <th>Hora Inicio</th>
                                <th>Hora Fin</th>
                                <th>Horas</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="actividad in actividadesRealizadas">
                                <td>{{actividad.tipo}}</td>
                                <td>{{actividad.fecha}}</td>
                                <td>{{actividad.horaInicio}}</td>
                                <td>{{actividad.horaFin}}</td>
                                <td>{{actividad.horas}}</td>
                                <td><span class="glyphicon glyphicon-edit" title="Editar Horarios" ng-click="editarHoraActividad(actividad.id)"></span></td>
                                <td><span class="glyphicon glyphicon-comment" title="Comentarios" ng-click="verComentarios(actividad.id)"></span></td>
                                <td><span class="glyphicon glyphicon-remove" title="Eliminar" ng-click="eliminarActividad(actividad.id)"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <div class="left">Total de Horas: {{tiempoUtilizado}}</div>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="finalizarTarea()">Terminar tarea</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal cambios de horarios de las actividades -->
<div class="modal fade" id="modal-cambio-horario-actividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog .filter">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-cambio-horario-actividad-label">
                    <span class="glyphicon glyphicon-task" aria-hidden="true"></span>
                    <span id="title-comentario-actividades">Horarios de la actividad</span>
                </h4>
            </div>
            <form method="post" id="frm-actualizar-horas-tarea" ng-submit="actualizarHorasTarea()">
                <div class="modal-body">
                    <div class="fila">
                        <div>
                            <label>Hora Inicio:</label><br />
                            <div class='input-group date' id='dtpk-cambio-hora-inicio-actividad-tarea'>
                                <input type='text' class="form-control" ng-model="cambioHoraInicioActividadTarea" ng-required="true" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div>
                            <label>Hora Fin:</label><br />
                            <div class='input-group date' id='dtpk-cambio-hora-fin-actividad-tarea'>
                                <input type='text' class="form-control" ng-model="cambioHoraFinActividadTarea" ng-required="true" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal comentarios de las actividades -->
<div class="modal fade" id="modal-comentario-actividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog .filter">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-solicitud-tareas-label">
                    <span class="glyphicon glyphicon-task" aria-hidden="true"></span>
                    <span id="title-comentario-actividades">Comentarios de Actividad</span>
                </h4>
            </div>
            <div class="modal-body">
                <form method="post" id="frm-solicitud-tarea" ng-submit="adicionarComentario()">
                    <div class="fila">
                        <div>
                            <label>Descripción:</label><br />
                            <textarea class="form-control descripcion-comentario-actividad" ng-model="descripcionComentario" ng-required="true"></textarea>
                        </div>
                        <div class="form-inline" style="text-align:center;">
                            <span><b>Importancia:</b></span>
                            <select class="form-control input-xs" ng-model="importanciaActividad" ng-required="true">
                                <option value="Normal">Normal</option>
                                <option value="Importante">Importante</option>
                                <option value="Muy Importante">Muy Importante</option>
                            </select>
                            <button type="submit" class="btn btn-info btn-xs add-comment">Añadir Comentario</button>
                        </div>
                    </div>
                </form>
                <div class="clear"></div>
                <div id="panel-comentarios" class="panel panel-default">
                    <div ng-repeat="comentario in comentarios" class="comentario-actividad-{{comentario.importancia}}">
                        <div><div class="left"><b>{{comentario.usuario | userEmail}}</b> : {{comentario.fecha | strDateToStrTime}}</div> <div class="right"> <span class="glyphicon glyphicon-remove eliminar-comentario" title="Eliminar Comentario" ng-click="eliminarComentario(comentario.id)"></span> </div> <div class="clear"></div></div>
                        <div>{{comentario.texto}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Menú del Click Derecho -->
<ul id="menu-opciones-feriado" class="dropdown-menu">
    <li ng-click="gestionarFeriado()"><a href="#"><span class="glyphicon glyphicon-ok"></span> Establecer/Qitar Como Feriado</a></li>
</ul>

<!-- Para la actualización de los td de las tareas -->
<div id="div-actualizacion-td-tareas" class="invisible">
    <div data-id-tarea="{{tarea.id}}" data-tipo="{{tarea.tipo}}" class="content-tarea {{tarea.clase}}" ng-repeat="tarea in tareasTD"
         data-container="#task-container" data-toggle="popover" data-placement="right"
         data-title="{{
                        &quot;<div class='left'>&quot; + tarea.dCliente + &quot;</div>&quot; +
                        &quot;<div class='right'><span class='glyphicon glyphicon-menu-hamburger hand btn-tarea-repetir-vertical' data-id-tarea='&quot; + tarea.id + &quot;'</span></div>&quot; +
                        &quot;<div class='clear'></div>&quot;
                     }}"
         data-drag="true"
         data-jqyoui-options="{revert: 'invalid'}"
         jqyoui-draggable="{
                                animate: true,
                                placeholder: true,
                                onStart: 'startDrag( tarea.id, tarea.idColaborador, tarea.tipo )',
                                onDrag: 'actualizarTabla()'
                           }"
         data-content="{{tarea.tipo === &quot;t&quot; ?
                                            &quot;Actividad:&quot; + tarea.dActividad + &quot;<br>&quot; +
                                            &quot;Módulo:&quot; + tarea.dModulo + &quot;<br>&quot; +
                                            &quot;Desarrollarse en:&quot; + tarea.dLugar + &quot;<br>&quot; +
                                            (tarea.coordinador != null?&quot;Coordinar con:&quot;+tarea.coordinador+&quot;<br/>&quot;:&quot;&quot;) +
                                            &quot;Detalles:&quot; + tarea.detalle + &quot;<br>&quot; +
                                            &quot;Hora Inicio:&quot; + tarea.finicio + &quot;<br>&quot; +
                                            &quot;Hora Fin:&quot; + tarea.ffin + &quot;<br>&quot; +
                                            &quot;<button class='btn btn-xs btn-success btn-edittask' data-id-tarea='&quot; + tarea.id + &quot;'>Editar</button>&quot; +
                                            &quot;
                                                <div class='right estado-tarea'>
                                                    <span class='glyphicon glyphicon-time btn-tarea-compensatoria' data-id-tarea='&quot; + tarea.id + &quot;' title='Compensatoria - Poner/Quitar'></span>
                                                    &nbsp;
                                                    <span class='glyphicon glyphicon-adjust btn-tarea-preasignada' data-id-tarea='&quot; + tarea.id + &quot;' title='Pre-Asignar'></span>
                                                    &nbsp;
                                                    <span class='glyphicon glyphicon-new-window btn-tarea-asignada' data-id-tarea='&quot; + tarea.id + &quot;' title='Asignar'></span>
                                                    &nbsp;
                                                     <span class='glyphicon glyphicon-remove btn-anulartask' data-id-tarea='&quot; + tarea.id + &quot;' title='Anular'></span>
                                                    &nbsp;
                                                    <span class='glyphicon glyphicon-cog btn-tarea-desarrollo' data-id-tarea='&quot; + tarea.id + &quot;' title='En desarrollo'></span>
                                                    &nbsp;
                                                    <span class='glyphicon glyphicon-pause btn-tarea-pausa' data-id-tarea='&quot; + tarea.id + &quot;' title='En pausa'></span>
                                                    &nbsp;
                                                    <span class='glyphicon glyphicon-search btn-tarea-finish' data-id-tarea='&quot; + tarea.id + &quot;' title='Ver actividades'></span>
                                                </div>
                                            &quot;
                                        :
                                            &quot;Motivo:&quot; + tarea.detalle + &quot;<br>&quot; +
                                            &quot;Hora Inicio:&quot; + tarea.finicio + &quot;<br>&quot; +
                                            &quot;Hora Fin:&quot; + tarea.ffin + &quot;<br>&quot;
                                        }}"
         data-html="true" data-trigger="manual">

        <div class="cabecera-tarea {{tarea.compensatoria}}">
            <div class="nombre-cliente">{{tarea.cliente}}</div>
            <div class="lugar-tarea">{{tarea.lugar}}</div>
            <div class="clear"></div>
        </div>
        <div class="body-tarea">
            <div>
                <div class="codigo-actividad-tarea">{{tarea.tipo === 't'?'('+tarea.actividad+')':''}}</div>
                <div class="modulo-actividad-tarea">{{tarea.modulo}}</div>
            </div>
            <div class="clear"></div>
            <div class="detalle-tarea">
                {{tarea.sdetalle}}
            </div>
            <div class="horas-tarea">{{tarea.horas}}</div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!-- Modal para la gestión de las incidencias -->
<div class="modal fade" id="modal-incidencias-colaboradores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog .filter">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-solicitud-tareas-label">
                    <span class="glyphicon glyphicon-task" aria-hidden="true"></span>
                    <span id="title-modal-incidencias-colaboradores">Incidencias del Colaborador</span>
                </h4>
            </div>
            <form method="post" id="frm-incidencias-colaboradores" ng-submit="adicionarIncidenciaColaborador()">
                <div class="modal-body">
                    <div class="fila">
                        <div class="left half half-padding-right">
                            <label>Colaborador:</label> {{nombreColaboradorIncidencia}}
                        </div>
                        <div class="left half half-padding-left">
                            <label>Fecha:</label> {{fechaIncidencia}}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="fila">
                        <label>Cliente:</label>
                        <select class="form-control" ng-model="clienteIncidencia" ng-required="true">
                            <option value="">Seleccione...</option>
                            <option ng-repeat="client in clientes" value="{{ client.id }}">{{ client.nombre }}</option>
                        </select>
                    </div>

                    <div class="fila">
                        <div class="left half half-padding-right">
                            <label>Tipo Error:</label>
                            <select class="form-control" ng-model="tipoErrorIncidencia" ng-required="true" ng-change="cambiarValorImpacto()">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="dato in datosTiposError" value="{{dato.id}}">{{dato.nombre}}</option>
                            </select>
                        </div>
                        <div class="left half half-padding-left">
                            <label>Impacto:</label>
                            <select class="form-control" ng-model="implicacionIncidencia" ng-required="true">
                                <option value="">Seleccione...</option>
                                <option ng-repeat="dato in datosImplicacionesError" value="{{dato.id}}">{{dato.nombre}} ({{dato.nivel}})</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="fila">
                        <div class="left half half-padding-right">
                            <label>Detalle de la Incidencia:</label><textarea class="form-control" ng-model="hechoIncidencia" ng-required="true"></textarea>
                        </div>
                        <div class="left half half-padding-left">
                            <label>Detalle del Reporte:</label><textarea class="form-control" ng-model="justificacionIncidencia" ng-required="true"></textarea>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                    <div id="panel-incidencias-registradas" class="panel panel-default">
                        <table class="table table-striped tablas-my-striped">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Tipo Error</th>
                                    <th>Impacto</th>
                                    <th>Detalle</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="incid in incidenciasColaborador">
                                    <td>{{incid.cliente}}</td>
                                    <td>{{incid.tipoError}}</td>
                                    <td>{{incid.implicacion}}</td>
                                    <td>{{incid.dhecho}}</td>
                                    <td class="text-center"><span class="glyphicon glyphicon-edit" ng-click="editarIncidenciaColaborador()"></span></td>
                                    <td class="text-center"><span class="glyphicon glyphicon-remove" ng-click="eliminarIncidenciaColaborador(incid.idIncidencia)"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Grabar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para los niveles por desarrollador -->
<div class="modal fade" id="modal-task-nivel-colaboradores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog .filter">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-solicitud-tareas-label">
                    <span class="glyphicon glyphicon-task" aria-hidden="true"></span>
                    <span id="title-modal-task-nivel-modulos-colaboradores">Niveles de Conocimientos por Colaborador</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="fila">
                    <div class="left un-cuarto half-padding-right">
                        <label>Módulo: </label>
                        <select class="form-control" ng-model="moduloNivelColaborador" ng-change="filtrarConocimientosColaboradores()">
                            <option value="">Seleccione...</option>
                            <option ng-repeat="mod in modulos" value="{{ mod.id }}">{{ mod.nombre }}</option>
                        </select>
                    </div>
                    <div class="left un-cuarto half-padding-right">
                        <label>Tecnología: </label>
                        <select class="form-control" ng-model="tecnologiaNivelColaborador" ng-change="filtrarConocimientosColaboradores()">
                            <option value="">Seleccione...</option>
                            <option ng-repeat="tec in tecnologias" value="{{ tec.id }}">{{ tec.descripcion }}</option>
                        </select>
                    </div>
                    <div class="left un-cuarto">
                        <label>Nivel: </label>
                        <select class="form-control" ng-model="nivelNivelCompetencia" ng-change="filtrarConocimientosColaboradores()">
                            <option value="">Seleccione...</option>
                            <option ng-repeat="s in [1,2,3]" value="{{s}}">Nivel {{s}}</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="tabla-nivel-conocimientos-colaborador" class="fila">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Módulo/Tecnología</th>
                                <th>Colaborador</th>
                                <th>Nivel</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="conocimiento in filasConocimientos | orderBy:'colaborador'">
                                <td>{{conocimiento.competencia}}</td>
                                <td>{{conocimiento.colaborador}}</td>
                                <td class="competencias-nivel-star" data-nivel="{{conocimiento.nivel}}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para las asignaciones verticales -->
<div class="modal fade" id="modal-asign-vertical-colab" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog .filter">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-asign-vertical-colab-label">
                    <span class="glyphicon glyphicon-task" aria-hidden="true"></span>
                    <span id="title-modal-asign-vertical-colab">Repetición Vertical de Tarea</span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="fila form-inline">
                    <div class="left">
                        <label>Marcar Todos:</label>
                        <input type="checkbox" ng-model="checkRepetirVertical" ng-click="marcarTodosRepeticionVertical()" />
                    </div>
                    <div class="right">
                        <label>Filtro:</label>
                        <input type="text" class="form-control" ng-model="filtroRepetirVertical" />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="fila" id="div-tabla-rep-trabajo">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Seleccionar</th>
                                <th>Colaborador</th>
                                <th>Sede</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="colab in datosColaboradoresLugar | filter: filtroRepetirVertical">
                                <td style="text-align: center"><input type="checkbox" class="trab-check-rep-task" value="{{colab.id}}" /></td>
                                <td>{{mySplitEmail( colab.email, 0 )}}</td>
                                <td>{{colab.sede}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" ng-click="repetirTareaColaboradoresSeleccionados()" class="btn btn-primary" data-dismiss="modal">Repetir Tarea</button>
            </div>
        </div>
    </div>
</div>