<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <targets>
    <!-- Archivo de log general -->
    <target xsi:type="File" name="allfile" 
            fileName="${basedir}/logs/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
            
    <!-- Archivo de log para errores -->
    <target xsi:type="File" name="errorfile" 
            fileName="${basedir}/logs/nlog-errors-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

    <!-- Archivo de log para operaciones sensibles -->
    <target xsi:type="File" name="sensitivefile" 
            fileName="${basedir}/logs/nlog-sensitive-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message}|User:${aspnet-user-identity}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>

  <rules>
    <!-- Log todo a allfile -->
    <logger name="*" minlevel="Info" writeTo="allfile" />
    
    <!-- Log errores a errorfile -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    
    <!-- Log operaciones sensibles a sensitivefile -->
    <logger name="*" levels="Info" writeTo="sensitivefile">
      <filters>
        <when condition="not contains('${message}','SENSITIVE')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>
