/*
   viernes, 29 de marzo de 202409:41:22 p. m.
   User: 
   Server: DESKTOP-8ATOCDQ\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.COLABORADOR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE RRHH.INCIDENCIASRECURSOS
	(
	SECUENCIAL int NOT NULL,
	SECUENCIALCOLABORADOR int NOT NULL,
	INCIDENCIA varchar(255) NOT NULL,
	DESCRIPCION varchar(255) NOT NULL,
	FECHA date NOT NULL,
	ESTAACTIVO decimal(1, 0) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE RRHH.INCIDENCIASRECURSOS ADD CONSTRAINT
	PK_INCIDENCIASRECURSOS PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE RRHH.INCIDENCIASRECURSOS ADD CONSTRAINT
	FK_INCIDENCIASRECURSOS_COLABORADOR FOREIGN KEY
	(
	SECUENCIALCOLABORADOR
	) REFERENCES TAREAS.COLABORADOR
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE RRHH.INCIDENCIASRECURSOS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'RRHH.INCIDENCIASRECURSOS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'RRHH.INCIDENCIASRECURSOS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'RRHH.INCIDENCIASRECURSOS', 'Object', 'CONTROL') as Contr_Per 