/*
   domingo, 14 de abril de 202421:10:30
   User: 
   Server: DESKTOP-04O1C92\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.TAREA ADD
	ESREPROCESO numeric(1, 0) NULL
GO
ALTER TABLE TAREAS.TAREA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.TAREA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.TAREA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.TAREA', 'Object', 'CONTROL') as Contr_Per 