/*
   miércoles, 10 de abril de 202410:52:17 p. m.
   User: 
   Server: DESKTOP-8ATOCDQ\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.COLABORADOR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.SERVICIOIMPLANTACIONCORE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.SERVICIOIMPLANTACIONCORE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.SERVICIOIMPLANTACIONCORE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.SERVICIOIMPLANTACIONCORE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE TAREAS.TIEMPOSPROYECTO
	(
	SECUENCIAL int NOT NULL IDENTITY (1, 1),
	SECUENCIALSERVICIOIMPLANTACIONCORE int NOT NULL,
	HORASSERVICIO int NOT NULL,
	RP varchar(50) NOT NULL,
	HORASCONSUMIDAS int NOT NULL,
	DETALLE varchar(250) NOT NULL,
	SECUENCIALCOLABORADOR int NOT NULL,
	FECHA date NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TAREAS.TIEMPOSPROYECTO ADD CONSTRAINT
	PK_TIEMPOSPROYECTO PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TAREAS.TIEMPOSPROYECTO ADD CONSTRAINT
	FK_TIEMPOSPROYECTO_SERVICIOIMPLANTACIONCORE FOREIGN KEY
	(
	SECUENCIALSERVICIOIMPLANTACIONCORE
	) REFERENCES TAREAS.SERVICIOIMPLANTACIONCORE
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TAREAS.TIEMPOSPROYECTO ADD CONSTRAINT
	FK_TIEMPOSPROYECTO_COLABORADOR FOREIGN KEY
	(
	SECUENCIALCOLABORADOR
	) REFERENCES TAREAS.COLABORADOR
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TAREAS.TIEMPOSPROYECTO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.TIEMPOSPROYECTO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.TIEMPOSPROYECTO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.TIEMPOSPROYECTO', 'Object', 'CONTROL') as Contr_Per 