<input type="text" ng-model-options='{ debounce: 1000 }' ng-change="recargarDatosOfertas()" ng-model="filtroOfertas" class="form-control right filtro" placeholder="Filtrar..." />
<div class="clear"></div>
<div class="panel-body" style="max-height: 490px; overflow-y: auto;">
    <table id="tabla-ofertas-tickets" class="table table-striped table-hover table-condensed" style=" width: 100% ">
        <thead>
            <tr>
                <th>Fecha Registro</th>
                <th>Fecha Vigencia</th>
                <th>Cliente</th>
                <th>Detalle</th>
                <th>Horas Estimación</th>
                <th>Colaborador</th>
                <th>Fecha Disponibilidad</th>
                <th>Adjunto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="9">
                    <div class="padding-lr-10" >
                        <div class="left">
                            <nav>
                                <ul class="pagination">
                                    <li ng-click="atrazarPagina()">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li ng-repeat="pagina in listaPaginasOfertas" ng-click="cambiarPagina(pagina)"><a href="#">{{pagina}}</a></li>
                                    <li ng-click="avanzarPagina()">
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="left form-inline gestion-lista-ticket" ng-init="cantidadMostrarPorPagina = 10" style="padding: 22px 0px 0px 0px">
                            <label>Cantidad Por Página:</label>
                            <select class="form-control" ng-model="cantidadMostrarPorPagina" ng-change="actualizarCantidadMostrar()">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>

                        <div class="right gestion-lista-ticket" style="padding: 22px 0px 0px 0px">
                            <div>
                                <label>Total de Páginas: </label>{{cantPaginasOfertas}}
                            </div>
                        </div>
                        <div class="right gestion-lista-ticket" style="padding: 22px 0px 0px 0px">
                            <div>
                                <label>Total de Ofertas: </label>{{totalOfertas}}
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>
                    <input id="fecha-registro" ng-class="'form-control'" ng-model="nuevaOferta.FechaRegistro">
                </td>
                <td>
                    <input id="fecha-produccion" ng-class="'form-control'" ng-model="nuevaOferta.FechaProduccion">
                </td>
                <td>
                    <select ng-class="'form-control'" ng-model="nuevaOferta.cliente" ng-options="cliente.id as (cliente.nombre | limitTo: 30) for cliente in clientes">
                        <option value="">Seleccione...</option>
                    </select>
                </td>
                <td>
                    <input style="min-width: 400px" ng-class="'form-control'" type="text" ng-model="nuevaOferta.Detalle">
                </td>
                <td>
                    <input ng-class="'form-control'" type="number" ng-model="nuevaOferta.HorasEstimacion">
                </td>
                <td>
                    <select ng-class="'form-control'" ng-model="nuevaOferta.colaborador" ng-options="colaborador.id as (colaborador.nombre | limitTo: 30) for colaborador in colaboradores">
                        <option value="">Seleccione...</option>
                    </select>
                </td>
                <td>
                    <input id="fecha-disponibilidad" ng-class="'form-control'" ng-model="nuevaOferta.FechaDisponibilidad">
                </td>
                <td>
                    <button id="btn-add-adjunto-oferta" name="{{ adjuntoName }}" ng-class="'form-control'" class="btn btn-success btn-xs" onclick="document.getElementById('add-adjunto-oferta').click();">
                        <span id="adjunto-oferta-icon" class="glyphicon glyphicon-plus"></span>
                    </button>
                    <input id="add-adjunto-oferta" style="display: none" type="file" onchange="angular.element(this).scope().agregarAdjuntoOferta()" />
                </td>
                <td>
                    <Button class="form-control btn btn-primary" ng-click="agregarOferta()">Añadir</Button>
                </td>
            </tr>
            <tr ng-repeat="oferta in ofertas">
                <td hidden>
                    <input type="text" ng-model="oferta.id">
                </td>
                <td>
                    <span ng-hide="oferta.editable">{{ oferta.FechaRegistro !== null ? (oferta.FechaRegistro | strDateToStr) : ""}}</span>
                    <input id="fecha-registro-{{$index}}" type="text" ng-class="'form-control'" ng-show="oferta.editable" ng-model="oferta.FechaRegistro">
                </td>
                <td>
                    <span ng-hide="oferta.editable">{{ oferta.FechaProduccion !== null ? (oferta.FechaProduccion | strDateToStr) : ""}}</span>
                    <input id="fecha-produccion-{{$index}}" type="text" ng-class="'form-control'" ng-show="oferta.editable" ng-model="oferta.FechaProduccion">
                </td>
                <td>
                    <span ng-hide="oferta.editable">{{ oferta.cliente.nombre }}</span>
                    <select ng-class="'form-control'" ng-show="oferta.editable" ng-model="oferta.cliente.id" ng-options="cliente.id as (cliente.nombre | limitTo: 30) for cliente in clientes"></select>
                </td>
                <td>
                    <span ng-hide="oferta.editable">{{ oferta.Detalle }}</span>
                    <input ng-class="'form-control'" ng-show="oferta.editable" type="text" ng-model="oferta.Detalle">
                </td>
                <td>
                    <span ng-hide="oferta.editable">{{ oferta.HorasEstimacion }}</span>
                    <input ng-class="'form-control'" ng-show="oferta.editable" type="number" ng-model="oferta.HorasEstimacion">
                </td>
                <td>
                    <span ng-hide="oferta.editable">{{ oferta.colaborador.nombre }}</span>
                    <select ng-class="'form-control'" ng-show="oferta.editable" ng-model="oferta.colaborador.id" ng-options="colaborador.id as (colaborador.nombre | limitTo: 30) for colaborador in colaboradores"></select>
                </td>
                <td ng-if="oferta.semaforo === 'ROJO'">
                    <span ng-hide="oferta.editable" class="badge" style="background-color:darkred">&nbsp;</span>
                    <span ng-hide="oferta.editable">&nbsp;{{ oferta.FechaDisponibilidad !== null ? (oferta.FechaDisponibilidad | strDateToStr) : "" }}</span>
                    <input id="fecha-disponibilidad-{{$index}}" ng-class="'form-control'" ng-show="oferta.editable" ng-model="oferta.FechaDisponibilidad">
                </td>
                <td ng-if="oferta.semaforo === 'AMARILLO'">
                    <span ng-hide="oferta.editable" class="badge" style="background-color:goldenrod">&nbsp;</span>
                    <span ng-hide="oferta.editable">&nbsp;{{ oferta.FechaDisponibilidad !== null ? (oferta.FechaDisponibilidad | strDateToStr) : "" }}</span>
                    <input id="fecha-disponibilidad-{{$index}}" ng-class="'form-control'" ng-show="oferta.editable" ng-model="oferta.FechaDisponibilidad">
                </td>
                <td ng-if="oferta.semaforo === 'VERDE'">
                    <span ng-hide="oferta.editable" class="badge" style="background-color:seagreen">&nbsp;</span>
                    <span ng-hide="oferta.editable">&nbsp;{{ oferta.FechaDisponibilidad !== null ? (oferta.FechaDisponibilidad | strDateToStr) : "" }}</span>
                    <input id="fecha-disponibilidad-{{$index}}" ng-class="'form-control'" ng-show="oferta.editable" ng-model="oferta.FechaDisponibilidad">
                </td>
                <td>
                    <a ng-hide="oferta.editable || oferta.adjunto === '' || oferta.adjunto === null" href="Web{{oferta.adjunto}}" target="_blank" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-paperclip"></span>{{ oferta.adjunto | getFileName }}</a>
                    <button ng-show="oferta.editable" id="btn-edit-adjunto-oferta" ng-class="'form-control'" class="btn btn-success btn-xs" onclick="document.getElementById('edit-adjunto-oferta').click();"><span class="glyphicon glyphicon-plus"></span></button>
                    <input id="edit-adjunto-oferta" style="display: none" type="file" onchange="angular.element(this).scope().editarAdjuntoOferta()" />
                    <span id="edit-adjunto-oferta-nombre" style="display: none">{{ newAdjuntoName }}</span>
                </td>
                <td>
                    <span style="margin-right: 10px;" ng-click="editarOferta(oferta, $index)" ng-hide="oferta.editable">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <span style="margin-right: 10px;" ng-click="guardarCambios(oferta)" ng-show="oferta.editable">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                    </span>
                    <span style="margin-right: 10px;" ng-click="eliminarOferta(oferta.id)" ng-hide="oferta.editable">
                        <i class="glyphicon glyphicon-trash"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>