/*
   Thursday, February 29, 20242:32:46 PM
   User: 
   Server: MRDEVIL\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.SOLICITUDVACACIONES ADD
	JEFE nvarchar(MAX) NULL
GO
ALTER TABLE TAREAS.SOLICITUDVACACIONES SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.SOLICITUDVACACIONES', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.SOLICITUDVACACIONES', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.SOLICITUDVACACIONES', 'Object', 'CONTROL') as Contr_Per 