<label style="display: inline-block">
    Fin de Dia:
    <input style="vertical-align: -2px;" type="checkbox" ng-click="cargarIncidencias()" ng-model="mostrarFinDiaIncidencias" ng-init="mostrarFinDiaIncidencias=false" />
</label>
<button class="btn btn-primary" ng-click="windowAgregarIncidencias()">Nueva Incidencia</button>
<input type="text" ng-keyup="cargarIncidencias()" ng-model="filtroIncidencias" class="form-control right filtro" placeholder="Filtrar..." />
<div class="clear"></div>
<div id="tabla-user-incidencias">
    <table id="tabla-incidencias-usuario" class="table table-striped table-condensed nowrap">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Módulo</th>
                <th>Incidente</th>
                <th>Acciones a realizar</th>
                <th>Fecha incidencia</th>
                <th>Fin de Día</th>
                <th>Colaborador</th>
                <th>Tiempo Atención</th>
                <th>Adjunto</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="incidencia in incidencias  | filter: filtroIncidencias" ng-dblclick="mostrarDetalleIncidencia(incidencia.secuencial)">
                <td>{{incidencia.cliente}}</td>
                <td>{{incidencia.modulo}}</td>
                <td>{{incidencia.incidente | limitTo:50}}</td>
                <td>{{incidencia.acciones  | limitTo:50}}</td>
                <td>{{incidencia.fecha | strDateToStr}}</td>
                <td>{{incidencia.findia}}</td>
                <td>{{incidencia.colaborador}}</td>
                <td>{{incidencia.tiempo}}</td>
                <td>
                    <a class="btn btn-success btn-xs" target="_blank" href="Web{{incidencia.adjunto}}" ng-show="incidencia.adjunto != ''">
                        <span class="glyphicon glyphicon-download"></span> Adjunto
                    </a>
                </td>

            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th colspan="9">
                    <nav>
                        <ul class="pagination">
                            <li ng-click="atrazarPagina()">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-repeat="pagina in listaPaginas" ng-click="cambiarPagina(pagina)"><a href="#">{{pagina}}</a></li>
                            <li ng-click="avanzarPagina()">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </th>
            </tr>
        </tfoot>

    </table>
</div>


<div id="modal-agregar-incidencias" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form ng-submit="GuardarNuevaIncidencia()">
                <div class="modal-header" style="padding: 10px, 10px">
                    <label>NUEVA INCIDENCIA</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div style="column-count: 2">
                        CLIENTE:
                        <select id="select-cliente-incidencias" ng-model="clienteSeleccionado" class="form-control" required="required">
                            <option value="">Seleccione...</option>
                            <option value="{{cliente.id}}" ng-repeat="cliente in clientes">{{cliente.nombre}}</option>
                        </select>

                        MODULO:
                        <select id="select-tipo-modulo" ng-model="tipoSeleccionado" class="form-control" required="required">
                            <option value="">Seleccione...</option>
                            <option value="{{tipo.id}}" ng-repeat="tipo in tipoModulo">{{tipo.nombre}}</option>
                        </select>
                    </div>

                    <div>
                        INCIDENTE:
                        <textarea type="text" class="form-control" ng-model="newIncidente" ng-required="true"></textarea>

                        ACCIONES A REALIZAR O RESOLUCION:
                        <textarea type="text" class="form-control" ng-model="newAcciones" ng-required="true"></textarea>
                    </div>
                    <br />

                    <div style="column-count: 2">
                        <div class="div-info-ticket">
                            FECHA INCIDENCIA
                            <div class='input-group date'>
                                <input id="fecha-incidencia" ng-model="fechaIncidencia" class="form-control" ng-required="true" autocomplete="off" />
                            </div>
                        </div>

                        ADJUNTO:
                        <div id="panel-add-adjunto"></div>
                        <div class="clear"></div>
                    </div>

                    <div class="col-md-6">
                        NOTIFICAR LIDERES:
                        <input type="checkbox" ng-model="mostrarSelectLideres" ng-init="mostrarSelectLideres=false" />

                        <select id="select-notificar-lideres" ng-model="liderSeleccionado" class="form-control" multiple ng-show="mostrarSelectLideres">
                            <option value="{{lider.email}}" ng-repeat="lider in lideres">{{lider.nombre}}</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        FIN DE DIA:
                        <input id="check-fin-dia" type="checkbox" ng-model="finDia" ng-init="finDia=false" />
                        <div ng-show="finDia">
                            TIEMPO DE ATENCION EN HORAS:
                            <input type="number" class="form-control" ng-model="tiempo" />
                        </div>
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="enviar-modal-incidencias-btn" class="btn btn-primary">Guardar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-datos-incidencia" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px, 10px">
                <label>INCIDENCIA</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
                <div class="row">
                    <div class="col-sm-4"><strong>Cliente:</strong></div>
                    <div class="col-sm-8">{{clienteV}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Módulo:</strong></div>
                    <div class="col-sm-8">{{moduloV}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Incidente:</strong></div>
                    <div class="col-sm-8">{{incidenteV}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Acción a realizar:</strong></div>
                    <div class="col-sm-8">{{accionesV}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Fecha incidencia:</strong></div>
                    <div class="col-sm-8">{{fechaV}}</div>
                </div>
                <div class="row" ng-show="adjuntoV != ''">
                    <div class="col-sm-4"><strong>Adjunto:</strong></div>
                    <div class="col-sm-8">
                        <a class="btn btn-success btn-xs" target="_blank" href="Web{{adjuntoV}}">
                            <span class="glyphicon glyphicon-download"></span> Adjunto
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Fin de día:</strong></div>
                    <div class="col-sm-8">{{finDiaV ? 'Sí' : 'No'}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Colaborador:</strong></div>
                    <div class="col-sm-8">{{colaboradorV}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Tiempo de Atención:</strong></div>
                    <div class="col-sm-8">{{tiempoV}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

