<!--
<label style="display: inline-block">
    Mostrar Todas:
    <input style="vertical-align: -2px;" type="checkbox" ng-click="cargarRecursos()" ng-model="mostrarTodosRecursos" ng-init="mostrarTodosRecursos=false" />
</label>
 -->
@if (Roles.IsUserInRole("ADMIN") || Roles.IsUserInRole("OPERACIONES"))
{
    <button class="btn btn-primary" ng-click="windowAgregarRecursos()">Nueva Capacitación</button>
}
<input type="text" ng-keyup="cargarRecursos()" ng-model="filtroRecursos" class="form-control right filtro" placeholder="Filtrar..." />
<div class="clear"></div>
<div id="tabla-user-recursos">
    <table id="tabla-recursos-usuario" class="table table-striped">
        <thead>
            <tr>
                <th width="10">Título</th>
                <th width="20">Detalle</th>
                <th width="8">Fecha</th>
                <th width="20">Modulo</th>
                <th width="15">Url</th>
                <th width="15">Registro Asistencia</th>
                <th width="8">Tiempo Capacitacion</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="recurso in recursos | filter: filtroRecursos" ng-dblclick="mostrarDetalleRecurso(recurso.secuencial)">
                <td>{{recurso.titulo | limitTo:100}}</td>
                <td>{{recurso.detalle | limitTo:100}}</td>
                <td>{{recurso.fecha | strDateToStr}}</td>
                <td>{{recurso.modulo}}</td>
                <td>
                    <a class="btn btn-success btn-xs" target="_blank" href="{{recurso.adjunto}}" ng-show="recurso.adjunto != ''">
                        <span class="glyphicon glyphicon-link"></span> Url 
                    </a>
                </td>

                <td>
                    <a class="btn btn-primary btn-xs" ng-click="mostrarRegistroAsistencia(recurso.secuencial)">
                        <span class="glyphicon glyphicon-calendar"></span> Registro asistencia
                    </a>
                </td>

                <td>{{recurso.tiempo | toHoursAndMinutes}}</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th colspan="6">
                    <nav>
                        <ul class="pagination">
                            <li ng-click="atrazarPagina()">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-repeat="pagina in listaPaginas" ng-click="cambiarPagina(pagina)"><a href="#">{{pagina}}</a></li>
                            <li ng-click="avanzarPagina()">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </th>
            </tr>
        </tfoot>

    </table>
</div>


<div id="modal-agregar-recursos" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form ng-submit="GuardarNuevoRecurso()" name="nuevoRecurso">
                <div class="modal-header">
                    <h5 class="modal-title">NUEVA CAPACITACION</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="inputTitulo">TÍTULO:</label>
                        <input type="text" class="form-control" ng-model="newTitulo" ng-required="true" placeholder="Título">
                    </div>

                    <div class="form-group">
                        <label for="inputDetalle">DETALLE:</label>
                        <textarea type="text" class="form-control" ng-model="newDetalle" ng-required="true" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="inputModulo">MÓDULO:</label>
                        <select id="select-modulo-recursos" ng-model="moduloSeleccionado" class="form-control" required="required">
                            <option value="">Seleccione...</option>
                            <option value="{{tipo.id}}" ng-repeat="tipo in tipoModulo">{{tipo.nombre}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="inputArchivo">URL:</label>
                        <input type="text" class="form-control" ng-model="url" ng-required="true" placeholder="Url">
                        <span style="color: red;" ng-show="urlNoValida">La URL no es válida.</span>
                    </div>

                    <div class="form-group">
                        <button type="button" id="abrir-modal-registro-asistencia" ng-click="abrirRegistroAsistencia()" class="btn btn-primary">REGISTRO DE ASISTENCIA</button>
                    </div>

                    <div class="form-group" style="display: flex; align-items: center; gap: 10px;">
                        TIEMPO DE CAPACITACIÓN:
                        <input type="number" class="form-control" ng-model="horas" ng-required="true" style="width:10%; text-align:center;" min="0">
                        horas
                        :
                        <input type="number" class="form-control" ng-model="minutos" ng-required="true" style="width: 10%; text-align: center;" min="0" max="60">
                        minutos
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" id="enviar-modal-recursos-btn" class="btn btn-primary">Guardar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-datos-recurso" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px, 10px">
                <label>CAPACITACIÓN</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">
                <div class="row">
                    <div class="col-sm-4"><strong>Título:</strong></div>
                    <div class="col-sm-8">{{tituloV}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Detalle:</strong></div>
                    <div class="col-sm-8">{{detalleV}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Módulo:</strong></div>
                    <div class="col-sm-8">{{moduloV}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Fecha:</strong></div>
                    <div class="col-sm-8">{{fechaV | strDateToStr}}</div>
                </div>
                <div class="row" ng-show="adjuntoV != ''">
                    <div class="col-sm-4"><strong>Url:</strong></div>
                    <div class="col-sm-8">
                        <a class="btn btn-success btn-xs" target="_blank" href="{{adjuntoV}}">
                            <span class="glyphicon glyphicon-link"></span> Url 
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4"><strong>Tiempo de Capacitación:</strong></div>
                    <div class="col-sm-8">{{tiempoV | toHoursAndMinutes}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Informe -->
<div class="modal fade" id="modal-asistencia-recurso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px, 10px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Registro de asistencia </h4>
            </div>

            <div class="modal-body" style="max-height: calc(100vh - 210px); overflow-y: auto;">

                <div id="div-user-informe-proyecto">
                    <table id="tabla-registro-asistencia" class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>PERSONAL SIFIZSOFT E INTESOFT</th>
                                <th>ASIGNADO</th>
                                <th>ASISTENCIA</th>
                                <th>PUNTUACIÓN</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in datosAsistencia track by $index">
                                <td>{{$index + 1}}</td> <!-- Autoincremental -->
                                <td>{{item.nombre}}</td> <!-- Nombre del colaborador -->
                                <td><input type="checkbox" ng-model="item.asignado"></td> <!-- Checkbox para asignado -->
                                <td><input type="checkbox" ng-model="item.asistencia"></td> <!-- Checkbox para asistencia -->
                                <td><input type="number" ng-model="item.puntuacion" min="0" max="5"></td> <!-- Input para puntuación -->
                                <td><input type="hidden" value="{{item.id}}"></td> <!-- Campo oculto con el ID -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="guardar-registro" ng-click="registrarAsistencia()" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
