
<label style="display: inline-block">
    Mostrar Todas:
    <input style="vertical-align: -2px;" type="checkbox" ng-click="cargarIncidencias()" ng-model="mostrarTodasIncidencias" ng-init="mostrarTodasIncidencias=false" />
</label>
<button class="btn btn-primary" ng-click="windowAgregarIncidencias()">Nueva Incidencia</button>
<input type="text" ng-keyup="cargarIncidencias()" ng-model="filtroIncidencias" class="form-control right filtro" placeholder="Filtrar..." />
<div class="clear"></div>
<div id="tabla-user-estimacion">
    <table id="tabla-incidencias-usuario" class="table table-striped">
        <thead>
            <tr>
                <th width="5">Cliente</th>
                <th width="5">Módulo/Funcionalidad</th>
                <th width="10">Incidente</th>
                <th width="10">Acciones a realizar</th>
                <th width="35">Corrección/Adjunto</th>

            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="incidencia in incidencias">
                <td>{{incidencia.cliente}}</td>
                <td>{{incidencia.modulo}}</td>
                <td>{{incidencia.incidente}}</td>
                <td>{{incidencia.acciones}}</td>
                <td>
                    <a class="btn btn-success btn-xs" target="_blank" href="Web{{incidencia.adjunto}}">
                        <span class="glyphicon glyphicon-download"></span> Adjunto
                    </a>
                </td>

            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th colspan="6">
                    <nav>
                        <ul class="pagination">
                            <li ng-click="atrazarPagina()">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-repeat="pagina in listaPaginas" ng-click="cambiarPagina(pagina)"><a href="#">{{pagina}}</a></li>
                            <li ng-click="avanzarPagina()">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </th>
            </tr>
        </tfoot>

    </table>
</div>


<div id="modal-agregar-incidencias" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form ng-submit="GuardarNuevaIncidencia()">
                <div class="modal-header" style="padding: 10px, 10px">
                    <label>NUEVA INCIDENCIA</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div style="column-count: 2">
                        CLIENTE:
                        <select id="select-cliente-incidencias" ng-model="clienteSeleccionado" class="form-control" required="required">
                            <option value="">Seleccione...</option>
                            <option value="{{cliente.id}}" ng-repeat="cliente in clientes">{{cliente.nombre}}</option>
                        </select>

                        MODULO:
                        <select id="select-tipo-modulo" ng-model="tipoSeleccionado" class="form-control" required="required">
                            <option value="">Seleccione...</option>
                            <option value="{{tipo.id}}" ng-repeat="tipo in tipoModulo">{{tipo.nombre}}</option>
                        </select>
                    </div>

                    <div>
                        INCIDENTE:
                        <textarea type="text" class="form-control" ng-model="newIncidente" ng-required="true"></textarea>

                        ACCIONES A REALIZAR O RESOLUCION:
                        <textarea type="text" class="form-control" ng-model="newAcciones" ng-required="true"></textarea>
                    </div>


                    <div class="col-md-6">
                        NOTIFICAR LIDERES:
                        <input type="checkbox" ng-model="mostrarSelectLideres" ng-init="mostrarSelectLideres=false" />

                        <select id="select-notificar-lideres" ng-model="liderSeleccionado" class="form-control" multiple required="required" ng-show="mostrarSelectLideres">
                            <option value="">Seleccione...</option>
                            <option value="{{lider.email}}" ng-repeat="lider in lideres">{{lider.nombre}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        ADJUNTO:
                        <div id="panel-add-adjunto"></div>
                        <div class="clear"></div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="enviar-modal-incidencias-btn" class="btn btn-primary">Guardar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

