/*
   Wednesday, November 29, 20231:21:07 PM
   User: 
   Server: MRDEVIL\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.COLABORADOR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.TECNOLOGIASYPROCESOS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.TECNOLOGIASYPROCESOS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.TECNOLOGIASYPROCESOS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.TECNOLOGIASYPROCESOS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE TAREAS.NIVELCOLABORADORTECNOLOGIA
	(
	SECUENCIAL int NOT NULL IDENTITY (1, 1),
	SECUENCIALTECNOLOGIA int NOT NULL,
	SECUENCIALCOLABORADOR int NOT NULL,
	NIVEL numeric(1, 0) NOT NULL,
	NUMEROVERIFICADOR int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TAREAS.NIVELCOLABORADORTECNOLOGIA ADD CONSTRAINT
	PK_NIVELCOLABORADORTECNOLOGIA PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TAREAS.NIVELCOLABORADORTECNOLOGIA ADD CONSTRAINT
	FK_NIVELCOLABORADORTECNOLOGIA_TECNOLOGIASYPROCESOS FOREIGN KEY
	(
	SECUENCIALTECNOLOGIA
	) REFERENCES TAREAS.TECNOLOGIASYPROCESOS
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TAREAS.NIVELCOLABORADORTECNOLOGIA ADD CONSTRAINT
	FK_NIVELCOLABORADORTECNOLOGIA_COLABORADOR FOREIGN KEY
	(
	SECUENCIALCOLABORADOR
	) REFERENCES TAREAS.COLABORADOR
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TAREAS.NIVELCOLABORADORTECNOLOGIA SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.NIVELCOLABORADORTECNOLOGIA', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.NIVELCOLABORADORTECNOLOGIA', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.NIVELCOLABORADORTECNOLOGIA', 'Object', 'CONTROL') as Contr_Per 