/*
   Sunday, March 10, 202411:41:08 AM
   User: 
   Server: DESKTOP-5N18OUN\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TICKET.ETAPASPROYECTOCLIENTE
	DROP CONSTRAINT FK_ETAPASPROYECTOCLIENTE_ETAPASPROYECTO1
GO
ALTER TABLE TICKET.ETAPASPROYECTO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.ETAPASPROYECTO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.ETAPASPROYECTO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.ETAPASPROYECTO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.CLIENTEAUXILIAR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.CLIENTEAUXILIAR', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.CLIENTEAUXILIAR', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.CLIENTEAUXILIAR', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TICKET.ETAPASPROYECTOCLIENTE ADD CONSTRAINT
	FK_ETAPASPROYECTOCLIENTE_ETAPASPROYECTO1 FOREIGN KEY
	(
	SECUENCIALCLIENTEAUXILIAR
	) REFERENCES TAREAS.CLIENTEAUXILIAR
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.ETAPASPROYECTOCLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.ETAPASPROYECTOCLIENTE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.ETAPASPROYECTOCLIENTE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.ETAPASPROYECTOCLIENTE', 'Object', 'CONTROL') as Contr_Per 