/*
   Saturday, March 9, 20247:27:00 PM
   User: 
   Server: DESKTOP-5N18OUN\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TICKET.ETAPASPROYECTO
	(
	SECUENCIAL int NOT NULL IDENTITY (1, 1),
	CODIGO varchar(30) NOT NULL,
	DESCRIPCION varchar(250) NOT NULL,
	ESTAACTIVO numeric(1, 0) NOT NULL,
	NUMEROVERIFICADOR int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TICKET.ETAPASPROYECTO ADD CONSTRAINT
	PK_ETAPASPROYECTO PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TICKET.ETAPASPROYECTO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.ETAPASPROYECTO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.ETAPASPROYECTO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.ETAPASPROYECTO', 'Object', 'CONTROL') as Contr_Per 