/*
   Thursday, February 15, 20249:41:08 AM
   User: 
   Server: MRDEVIL\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.CLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.CLIENTE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.CLIENTE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.CLIENTE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE TICKET.TIEMPOCERRADOTICKET
	(
	SECUENCIAL int NOT NULL IDENTITY (1, 1),
	CODIGO varchar(30) NOT NULL,
	DESCRIPCION varchar(30) NOT NULL,
	ESTAACTIVO numeric(1, 0) NOT NULL,
	NUMEROVERIFICADOR int NOT NULL,
	DIASCERRADO int NOT NULL,
	SECUENCIALCLIENTE int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TICKET.TIEMPOCERRADOTICKET ADD CONSTRAINT
	PK_TIEMPOCERRADOTICKET PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TICKET.TIEMPOCERRADOTICKET ADD CONSTRAINT
	FK_TIEMPOCERRADOTICKET_CLIENTE FOREIGN KEY
	(
	SECUENCIALCLIENTE
	) REFERENCES TAREAS.CLIENTE
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.TIEMPOCERRADOTICKET SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.TIEMPOCERRADOTICKET', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.TIEMPOCERRADOTICKET', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.TIEMPOCERRADOTICKET', 'Object', 'CONTROL') as Contr_Per 