/*
   Monday, August 12, 20249:37:55 PM
   User: 
   Server: RAUL\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.ENTREGABLEMOTIVOTRABAJO ADD
	DIASGARANTIA int NULL
GO
ALTER TABLE TAREAS.ENTREGABLEMOTIVOTRABAJO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.ENTREGABLEMOTIVOTRABAJO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.ENTREGABLEMOTIVOTRABAJO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.ENTREGABLEMOTIVOTRABAJO', 'Object', 'CONTROL') as Contr_Per 