/*
   sábado, 23 de diciembre de 202301:27:18 a. m.
   User: 
   Server: DESKTOP-8ATOCDQ\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TICKET.INCIDENCIAS
	(
	SECUENCIAL int NOT NULL IDENTITY (1, 1),
	VERSION nvarchar(255) NOT NULL,
	SECUENCIALMODULO int NOT NULL,
	INCIDENTE nvarchar(255) NOT NULL,
	ADJUNTO nvarchar(255) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TICKET.INCIDENCIAS ADD CONSTRAINT
	PK_INCIDENCIAS PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TICKET.INCIDENCIAS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.INCIDENCIAS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.INCIDENCIAS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.INCIDENCIAS', 'Object', 'CONTROL') as Contr_Per 