/*
   viernes, 29 de diciembre de 202321:21:51
   Usuario: 
   Servidor: DESKTOP-GTPJVRI
   Base de datos: SifizPlanning
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TICKET.RECURSOS
	(
	SECUENCIAL int NOT NULL,
	TITULO nvarchar(50) NOT NULL,
	DETALLE nvarchar(50) NOT NULL,
	FECHA date NOT NULL,
	SECUENCIALCATEGORIARECURSOS int NOT NULL,
	ADJUNTO nvarchar(255) NOT NULL,
	ESTAACTIVO numeric(1, 0) NOT NULL,
	NUMEROVERIFICADOR int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TICKET.RECURSOS ADD CONSTRAINT
	PK_RECURSOS PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TICKET.RECURSOS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.RECURSOS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.RECURSOS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.RECURSOS', 'Object', 'CONTROL') as Contr_Per 