/*
   sábado, 6 de enero de 202411:24:17 a. m.
   User: 
   Server: DESKTOP-8ATOCDQ\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TICKET.INCIDENCIAS ADD
	FECHA date NULL,
	FINDIA numeric(1, 0) NULL
GO
ALTER TABLE TICKET.INCIDENCIAS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.INCIDENCIAS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.INCIDENCIAS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.INCIDENCIAS', 'Object', 'CONTROL') as Contr_Per 