/*
   domingo, 31 de diciembre de 202311:10:36
   Usuario: 
   Servidor: DESKTOP-GTPJVRI
   Base de datos: SifizPlanning
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TICKET.CATEGORIARECURSOS
	(
	SECUENCIAL int NOT NULL IDENTITY (1, 1),
	CODIGO varchar(255) NOT NULL,
	DESCRIPCION varchar(255) NOT NULL,
	ESTAACTIVO numeric(1, 0) NOT NULL,
	NUMEROVERIFICADOR int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TICKET.CATEGORIARECURSOS ADD CONSTRAINT
	PK_CATEGORIARECURSOS PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TICKET.CATEGORIARECURSOS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.CATEGORIARECURSOS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.CATEGORIARECURSOS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.CATEGORIARECURSOS', 'Object', 'CONTROL') as Contr_Per 