USE [SifizPlanning]
GO

/****** Object:  Table [TICKET].[RECURSOS]    Script Date: 15/01/2024 7:31:41 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [TICKET].[RECURSOS](
	[SECUENCIAL] [int] IDENTITY(1,1) NOT NULL,
	[TITULO] [varchar](255) NOT NULL,
	[DETALLE] [varchar](max) NOT NULL,
	[FECHA] [date] NOT NULL,
	[SECUENCIALMODULO] [int] NOT NULL,
	[ADJUNTO] [varchar](255) NOT NULL,
 CONSTRAINT [PK_RECURSOS] PRIMARY KEY CLUSTERED 
(
	[SECUENCIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [TICKET].[RECURSOS]  WITH CHECK ADD  CONSTRAINT [FK_RECURSOS_MODULO] FOREIGN KEY([SECUENCIALMODULO])
REFERENCES [TAREAS].[MODULO] ([SECUENCIAL])
GO

ALTER TABLE [TICKET].[RECURSOS] CHECK CONSTRAINT [FK_RECURSOS_MODULO]
GO


