/*
   domingo, 31 de diciembre de 202311:18:07
   Usuario: 
   Servidor: DESKTOP-GTPJVRI
   Base de datos: SifizPlanning
   Aplicación: 
*/

/* Para evitar posibles problemas de pérdida de datos, debe revisar este script detalladamente antes de ejecutarlo fuera del contexto del diseñador de base de datos.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TICKET.CATEGORIARECURSOS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.CATEGORIARECURSOS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.CATEGORIARECURSOS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.CATEGORIARECURSOS', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE TICKET.RECURSOS
	(
	SECUENCIAL int NOT NULL IDENTITY (1, 1),
	TITULO varchar(255) NOT NULL,
	DETALLE varchar(255) NOT NULL,
	FECHA date NOT NULL,
	SECUENCIALCATEGORIARECURSOS int NOT NULL,
	ADJUNTO varchar(255) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TICKET.RECURSOS ADD CONSTRAINT
	PK_RECURSOS PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TICKET.RECURSOS ADD CONSTRAINT
	FK_RECURSOS_CATEGORIARECURSOS FOREIGN KEY
	(
	SECUENCIALCATEGORIARECURSOS
	) REFERENCES TICKET.CATEGORIARECURSOS
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.RECURSOS SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.RECURSOS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.RECURSOS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.RECURSOS', 'Object', 'CONTROL') as Contr_Per 