/*
   Sunday, January 7, 202410:40:15 AM
   User: 
   Server: MRDEVIL\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TICKET.ESTIMACIONTICKET SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.ESTIMACIONTICKET', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.ESTIMACIONTICKET', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.ESTIMACIONTICKET', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TICKET.TIPORECURSO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.TIPORECURSO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.TIPORECURSO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.TIPORECURSO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE TICKET.ITEMESPECIAL
	(
	SECUENCIAL int NOT NULL IDENTITY (1, 1),
	DESCRIPCION varchar(50) NOT NULL,
	TIEMPOESTIMACION int NOT NULL,
	SECUENCIALESTIMACION int NOT NULL,
	SECUENCIALTIPORECURSO int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TICKET.ITEMESPECIAL ADD CONSTRAINT
	PK_ITEMESPECIAL PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TICKET.ITEMESPECIAL ADD CONSTRAINT
	FK_ITEMESPECIAL_TIPORECURSO FOREIGN KEY
	(
	SECUENCIALTIPORECURSO
	) REFERENCES TICKET.TIPORECURSO
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.ITEMESPECIAL ADD CONSTRAINT
	FK_ITEMESPECIAL_ESTIMACIONTICKET FOREIGN KEY
	(
	SECUENCIALESTIMACION
	) REFERENCES TICKET.ESTIMACIONTICKET
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.ITEMESPECIAL SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.ITEMESPECIAL', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.ITEMESPECIAL', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.ITEMESPECIAL', 'Object', 'CONTROL') as Contr_Per 