/*
   miércoles, 10 de enero de 202409:08:24 p. m.
   User: 
   Server: DESKTOP-8ATOCDQ\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE TICKET.Tmp_CALIFICACIONTICKET
	(
	Secuencial int NOT NULL IDENTITY (1, 1),
	Codigo varchar(50) NOT NULL,
	Descripcion varchar(250) NOT NULL,
	EstaActivo numeric(1, 0) NOT NULL,
	NumeroVerificador int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TICKET.Tmp_CALIFICACIONTICKET SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT TICKET.Tmp_CALIFICACIONTICKET ON
GO
IF EXISTS(SELECT * FROM TICKET.CALIFICACIONTICKET)
	 EXEC('INSERT INTO TICKET.Tmp_CALIFICACIONTICKET (Secuencial, Codigo, Descripcion, EstaActivo, NumeroVerificador)
		SELECT Secuencial, Codigo, Descripcion, EstaActivo, NumeroVerificador FROM TICKET.CALIFICACIONTICKET WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TICKET.Tmp_CALIFICACIONTICKET OFF
GO
DROP TABLE TICKET.CALIFICACIONTICKET
GO
EXECUTE sp_rename N'TICKET.Tmp_CALIFICACIONTICKET', N'CALIFICACIONTICKET', 'OBJECT' 
GO
ALTER TABLE TICKET.CALIFICACIONTICKET ADD CONSTRAINT
	PK_CALIFICACIONTICKET PRIMARY KEY CLUSTERED 
	(
	Secuencial
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKET', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKET', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKET', 'Object', 'CONTROL') as Contr_Per 