/*
   miércoles, 10 de enero de 202409:19:08 p. m.
   User: 
   Server: DESKTOP-8ATOCDQ\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TICKET.TICKET SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.TICKET', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.TICKET', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.TICKET', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TICKET.CALIFICACIONTICKET SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKET', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKET', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKET', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE TICKET.CALIFICACIONTICKETCLIENTE
	(
	Secuencial int NOT NULL IDENTITY (1, 1),
	SecuencialCalificacion int NOT NULL,
	SecuencialTicket int NOT NULL,
	Calificacion int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TICKET.CALIFICACIONTICKETCLIENTE ADD CONSTRAINT
	PK_CALIFICACIONTICKETCLIENTE PRIMARY KEY CLUSTERED 
	(
	Secuencial
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TICKET.CALIFICACIONTICKETCLIENTE ADD CONSTRAINT
	FK_CALIFICACIONTICKETCLIENTE_CALIFICACIONTICKET FOREIGN KEY
	(
	SecuencialCalificacion
	) REFERENCES TICKET.CALIFICACIONTICKET
	(
	Secuencial
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.CALIFICACIONTICKETCLIENTE ADD CONSTRAINT
	FK_CALIFICACIONTICKETCLIENTE_TICKET FOREIGN KEY
	(
	SecuencialTicket
	) REFERENCES TICKET.TICKET
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.CALIFICACIONTICKETCLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKETCLIENTE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKETCLIENTE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKETCLIENTE', 'Object', 'CONTROL') as Contr_Per 