/*
   miércoles, 10 de enero de 202409:37:48 p. m.
   User: 
   Server: DESKTOP-8ATOCDQ\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKET.Secuencial', N'Tmp_SECUENCIAL', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKET.Codigo', N'Tmp_CODIGO_1', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKET.Descripcion', N'Tmp_DESCRIPCION_2', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKET.EstaActivo', N'Tmp_ESTAACTIVO_3', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKET.NumeroVerificador', N'Tmp_NUMEROVERIFICADOR_4', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKET.Tmp_SECUENCIAL', N'SECUENCIAL', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKET.Tmp_CODIGO_1', N'CODIGO', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKET.Tmp_DESCRIPCION_2', N'DESCRIPCION', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKET.Tmp_ESTAACTIVO_3', N'ESTAACTIVO', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKET.Tmp_NUMEROVERIFICADOR_4', N'NUMEROVERIFICADOR', 'COLUMN' 
GO
ALTER TABLE TICKET.CALIFICACIONTICKET SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKET', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKET', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKET', 'Object', 'CONTROL') as Contr_Per 