/*
   miércoles, 10 de enero de 202409:41:07 p. m.
   User: 
   Server: DESKTOP-8ATOCDQ\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKETCLIENTE.Secuencial', N'Tmp_SECUENCIAL_5', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKETCLIENTE.SecuencialCalificacion', N'Tmp_SECUENCIALCALIFICACION_6', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKETCLIENTE.SecuencialTicket', N'Tmp_SECUENCIALTICKET_7', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKETCLIENTE.Calificacion', N'Tmp_CALIFICACION_8', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKETCLIENTE.Tmp_SECUENCIAL_5', N'SECUENCIAL', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKETCLIENTE.Tmp_SECUENCIALCALIFICACION_6', N'SECUENCIALCALIFICACION', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKETCLIENTE.Tmp_SECUENCIALTICKET_7', N'SECUENCIALTICKET', 'COLUMN' 
GO
EXECUTE sp_rename N'TICKET.CALIFICACIONTICKETCLIENTE.Tmp_CALIFICACION_8', N'CALIFICACION', 'COLUMN' 
GO
ALTER TABLE TICKET.CALIFICACIONTICKETCLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKETCLIENTE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKETCLIENTE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.CALIFICACIONTICKETCLIENTE', 'Object', 'CONTROL') as Contr_Per 