/*
   Wednesday, January 24, 20241:43:48 PM
   User: 
   Server: MRDEVIL\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TICKET.ITEMESPECIAL
	DROP CONSTRAINT FK_ITEMESPECIAL_TIPORECURSO
GO
ALTER TABLE TICKET.TIPORECURSO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.TIPORECURSO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.TIPORECURSO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.TIPORECURSO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TICKET.ITEMESPECIAL
	DROP COLUMN SECUENCIALTIPORECURSO
GO
ALTER TABLE TICKET.ITEMESPECIAL SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.ITEMESPECIAL', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.ITEMESPECIAL', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.ITEMESPECIAL', 'Object', 'CONTROL') as Contr_Per 