/*
   Wednesday, January 24, 20241:47:29 PM
   User: 
   Server: MRDEVIL\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TICKET.NIVELCOLABORADOR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.NIVELCOLABORADOR', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.NIVELCOLABORADOR', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.NIVELCOLABORADOR', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TICKET.ITEMESPECIAL ADD
	SECUENCIALNIVELCOLABORADOR int NULL
GO
ALTER TABLE TICKET.ITEMESPECIAL ADD CONSTRAINT
	FK_ITEMESPECIAL_NIVELCOLABORADOR FOREIGN KEY
	(
	SECUENCIALNIVELCOLABORADOR
	) REFERENCES TICKET.NIVELCOLABORADOR
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.ITEMESPECIAL SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.ITEMESPECIAL', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.ITEMESPECIAL', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.ITEMESPECIAL', 'Object', 'CONTROL') as Contr_Per 