/*
   Wednesday, January 31, 20245:40:12 PM
   User: 
   Server: MRDEVIL\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TICKET.ITEMESPECIALCATALOGO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.ITEMESPECIALCATALOGO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.ITEMESPECIALCATALOGO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.ITEMESPECIALCATALOGO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TICKET.NIVELCOLABORADOR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.NIVELCOLABORADOR', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.NIVELCOLABORADOR', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.NIVELCOLABORADOR', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TICKET.ESTIMACIONTICKET SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.ESTIMACIONTICKET', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.ESTIMACIONTICKET', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.ESTIMACIONTICKET', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE TICKET.ITEMESPECIALESTIMACION
	(
	SECUENCIAL int NOT NULL IDENTITY (1, 1),
	SECUENCIALITEMESPECIALCATALOGO int NOT NULL,
	SECUENCIALESTIMACION int NOT NULL,
	SECUENCIALNIVELCOLABORADOR int NOT NULL,
	TIEMPOESTIMACION int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TICKET.ITEMESPECIALESTIMACION ADD CONSTRAINT
	PK_ITEMESPECIALESTIMACION PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TICKET.ITEMESPECIALESTIMACION ADD CONSTRAINT
	FK_ITEMESPECIALESTIMACION_ESTIMACIONTICKET FOREIGN KEY
	(
	SECUENCIALESTIMACION
	) REFERENCES TICKET.ESTIMACIONTICKET
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.ITEMESPECIALESTIMACION ADD CONSTRAINT
	FK_ITEMESPECIALESTIMACION_NIVELCOLABORADOR FOREIGN KEY
	(
	SECUENCIALNIVELCOLABORADOR
	) REFERENCES TICKET.NIVELCOLABORADOR
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.ITEMESPECIALESTIMACION ADD CONSTRAINT
	FK_ITEMESPECIALESTIMACION_ITEMESPECIALCATALOGO FOREIGN KEY
	(
	SECUENCIALITEMESPECIALCATALOGO
	) REFERENCES TICKET.ITEMESPECIALCATALOGO
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.ITEMESPECIALESTIMACION SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.ITEMESPECIALESTIMACION', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.ITEMESPECIALESTIMACION', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.ITEMESPECIALESTIMACION', 'Object', 'CONTROL') as Contr_Per 