<div id="div-ofertas-excel">
    <div class="clearfix mb-3">
        <div class="pull-left">
            <button class="btn btn-primary" ng-click="agregarOferta()">
                <span class="glyphicon glyphicon-plus"></span> Oferta
            </button>
            <button class="btn btn-success" ng-click="exportarExcel()">
                <span class="glyphicon glyphicon-file"></span> Excel
            </button>
            <button class="btn btn-danger" ng-click="exportarPDF()">
                <span class="glyphicon glyphicon-download-alt"></span> PDF
            </button>
            <button class="btn btn-info" ng-click="imprimir()">
                <span class="glyphicon glyphicon-print"></span> Imprimir
            </button>
        </div>
        <div class="form-group mb-0 pull-right" style="width: 300px;">
            <input type="text" class="form-control" ng-model="buscadorGeneral" placeholder="Buscar..." />
        </div>
    </div>

    <hr />

    <div class="table-responsive">
        <div class="table-container">
            <table id="tabla-ofertas-excel" class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>CODIGO OFERTA</th>
                        <th>NUMERO TICKET</th>
                        <th>CLIENTE</th>
                        <th>TEMA</th>
                        <th>F.Rec Estimación</th>
                        <th>F.Gen Oferta</th>
                        <th>F.Env Revisión</th>
                        <th>F.Apr Gerencia</th>
                        <th>F.Env Cliente</th>
                        <th>F.Vencimiento</th>
                        <th>TIPO</th>
                        <th>PRECIO OFERTA</th>
                        <th>FORMA DE PAGO</th>
                        <th>VALIDEZ OFERTA</th>
                        <th>DESCUENTO</th>
                        <th>PRÓXIMA ACTIVIDAD</th>
                        <th>ESTADO</th>
                        <th>ACCIONES</th>
                    </tr>
                    <tr>
                        <th><input type="text" class="form-control" ng-model="filtro.codigoOferta" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.ticket" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.cliente" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.tema" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.fechaEstimacion" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.fechaGeneracion" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.fechaRevision" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.fechaAprobacionGerencia" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.fechaEnvioOferta" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.fechaVencimiento" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.tipo" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.precioOferta" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.formaPago" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.validezOferta" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.descuento" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.proximaActividad" /></th>
                        <th><input type="text" class="form-control" ng-model="filtro.estado" /></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="oferta in ofertasLista" style="cursor:pointer;">
                        <td>{{oferta.codigo}}</td>
                        <td>{{oferta.ticket}}</td>
                        <td>{{oferta.cliente}}</td>
                        <td>{{oferta.tema}}</td>
                        <td>{{oferta.fechaEstimacion | date:'dd/MM/yyyy'}}</td>
                        <td>{{oferta.fechaGeneracion | date:'dd/MM/yyyy'}}</td>
                        <td>{{oferta.fechaRevision | date:'dd/MM/yyyy'}}</td>
                        <td>{{oferta.fechaAprobacionGerencia | date:'dd/MM/yyyy'}}</td>
                        <td>{{oferta.fechaEnvioOferta | date:'dd/MM/yyyy'}}</td>
                        <td>{{oferta.fechaVencimiento | date:'dd/MM/yyyy'}}</td>
                        <td>{{oferta.tipo}}</td>
                        <td class="text-right">{{oferta.precio | currency}}</td>
                        <td>{{oferta.formaPago}}</td>
                        <td>{{oferta.validezOferta | date:'dd/MM/yyyy'}}</td>
                        <td>{{oferta.descuento}}</td>
                        <td>{{oferta.proximaActividad}}</td>
                        <td>
                            <span class="badge" ng-class="{
                                'bg-warning': oferta.estado === 'VENCIDA',
                                'bg-success': oferta.estado && oferta.estado.includes('ACEPTADA'),
                                'bg-danger': oferta.estado === 'RECHAZADA'
                            }">{{oferta.estado}}</span>
                        </td>
                        <td style="white-space: nowrap;">
                            <button class="btn btn-warning" ng-click="editarOferta(oferta, $event)">Editar</button>
                            <button class="btn btn-danger" ng-click="eliminarOferta(oferta, $event)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="11" class="text-center">
                            <nav>
                                <ul class="pagination">
                                    <li ng-click="atrazarPagina()">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li ng-repeat="pagina in listaPaginas" ng-click="cambiarPagina(pagina)"><a href="#">{{pagina}}</a></li>
                                    <li ng-click="avanzarPagina()">
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="form-inline" style="padding: 22px 0px 0px 0px">
                                <label>Cantidad Por Página:</label>
                                <select class="form-control" ng-model="cantidadMostrarPorPagina" ng-change="actualizarCantidadMostrar()">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="text-center">
        <dir-pagination-controls
            max-size="8"
            direction-links="true"
            boundary-links="true"
            next-text="Siguiente"
            previous-text="Anterior">
        </dir-pagination-controls>
    </div>

    <!-- Modal para CRUD de Ofertas -->
    <div class="modal fade" id="modal-excel-offer" tabindex="-1" role="dialog" aria-labelledby="ofertaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form name="offerForm" novalidate ng-submit="guardarOferta()">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="ofertaModalLabel">
                            {{ editingOffer.id ? 'Editar Oferta' : 'Crear Oferta' }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        <div class="form-group col-sm-12" ng-if="!editingOffer._esTicketPendiente">
                            <label for="OfertaRequerimiento">REQUERIMIENTO</label>
                            <select id="OfertaRequerimiento" name="OfertaRequerimiento" class="form-control" ng-model="editingOffer.OfertaRequerimiento" ng-change="onRequerimientoChange()" required>
                                <option value="">Seleccione un requerimiento...</option>
                                <option ng-repeat="req in requerimientos" value="{{req.Secuencial}}">
                                    {{req.ClienteNombre}} | Ticket: {{req.TicketNumero || 'N/A'}} | {{req.Detalle | limitTo:40}}
                                </option>
                            </select>
                            <div class="help-block" ng-show="offerForm.OfertaRequerimiento.$touched && offerForm.OfertaRequerimiento.$error.required">Este campo es obligatorio.</div>
                        </div>
                        <div class="form-group col-sm-12" ng-if="editingOffer._esTicketPendiente">
                            <label for="OfertaPedidoRequerimiento">PEDIDO/REQUERIMIENTO</label>
                            <select id="OfertaPedidoRequerimiento" name="OfertaPedidoRequerimiento" class="form-control" ng-model="editingOffer.OfertaPedidoRequerimiento" required>
                                <option value="">Seleccione un pedido/requerimiento...</option>
                                <option ng-repeat="pedido in pedidosRequerimientos" value="{{pedido.id}}">
                                    {{pedido.descripcion}}
                                </option>
                            </select>
                            <div class="help-block" ng-show="offerForm.OfertaPedidoRequerimiento.$touched && offerForm.OfertaPedidoRequerimiento.$error.required">Este campo es obligatorio.</div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4" ng-class="{'has-error': offerForm.codigoOferta.$touched && offerForm.codigoOferta.$invalid}">
                                <label for="codigoOferta">CODIGO OFERTA</label>
                                <input id="codigoOferta" name="codigoOferta" type="text" class="form-control" ng-model="editingOffer.codigo" readonly required />
                                <div class="help-block" ng-show="offerForm.codigoOferta.$touched && offerForm.codigoOferta.$error.required">Este campo es obligatorio.</div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="fechaGeneracion">F.Generación</label>
                                <input id="fechaGeneracion" name="fechaGeneracion" type="date" class="form-control" ng-model="editingOffer.fechaGeneracion" required />
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="fechaVencimiento">F.Vencimiento</label>
                                <input id="fechaVencimiento" name="fechaVencimiento" type="date" class="form-control" ng-model="editingOffer.fechaVencimiento" required />
                            </div>
                        </div>
                        <div class="row">
                            <!-- Eliminar campo TICKET del formulario, solo mostrar en el listado -->
                            <!-- Fechas dependientes del ticket -->
                        <div>
                            <div class="form-group col-sm-4" ng-if="editingOffer.fechaEstimacion">
                                <label for="fechaEstimacion">F.Rec Estimación</label>
                                <p class="form-control-static">{{editingOffer.fechaEstimacion | date:'dd/MM/yyyy'}}</p>
                            </div>
                            <div class="form-group col-sm-4" ng-if="editingOffer.fechaRevision">
                                <label for="fechaRevision">F.Env Revisión</label>
                                <p class="form-control-static">{{editingOffer.fechaRevision | date:'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="form-group col-sm-4" ng-if="editingOffer.fechaAprobacionGerencia">
                                    <label for="fechaAprobacionGerencia">F.Apr Gerencia</label>
                                    <p class="form-control-static">{{editingOffer.fechaAprobacionGerencia | date:'dd/MM/yyyy'}}</p>
                                </div>
                                <div class="form-group col-sm-4" ng-if="editingOffer.fechaEnvioOferta">
                                    <label for="fechaEnvioOferta">F.Env Cliente</label>
                                    <p class="form-control-static">{{editingOffer.fechaEnvioOferta | date:'dd/MM/yyyy'}}</p>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="precioOferta">PRECIO OFERTA</label>
                                    <input id="precioOferta" name="precioOferta" type="text" class="form-control" ng-model="editingOffer.precioOferta" required pattern="^\d+(\.|,)?\d*$" title="Ingrese un número válido" />
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="formaPago">FORMA DE PAGO</label>
                                    <select id="formaPago" name="formaPago" class="form-control" ng-model="editingOffer.formaPago" required>
                                        <option value="">Seleccione...</option>
                                        <option value="70/30">70/30</option>
                                        <option value="Mensual">Mensual</option>
                                        <option value="100 % a la entrega">100 % a la entrega</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label for="descuento">DESCUENTO</label>
                                    <select id="descuento" name="descuento" class="form-control" ng-model="editingOffer.descuento">
                                        <option value="NO">NO</option>
                                        <option value="SI">SI</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="estado">ESTADO</label>
                                    <select id="estado" name="estado" class="form-control" ng-model="editingOffer.estado" required>
                                        <option value="">Seleccione...</option>
                                        <option value="VENCIDA">VENCIDA</option>
                                        <option value="ACEPTADA / CONTRATO">ACEPTADA / CONTRATO</option>
                                        <option value="ACEPTADA / TICKET">ACEPTADA / TICKET</option>
                                        <option value="RECHAZADA">RECHAZADA</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="tipo">TIPO</label>
                                    <input id="tipo" name="tipo" type="text" class="form-control" ng-model="editingOffer.tipo" />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error': offerForm.tema.$touched && offerForm.tema.$invalid}">
                                <label for="tema">TEMA</label>
                                <textarea id="tema" name="tema" class="form-control" ng-model="editingOffer.tema" rows="3" required></textarea>
                                <div class="help-block" ng-show="offerForm.tema.$touched && offerForm.tema.$error.required">Este campo es obligatorio.</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="offerForm.$invalid" ng-click="submitOferta()">
                            {{ editingOffer._esNuevo ? 'Crear' : 'Actualizar' }}
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
.table-container {
    margin-bottom: 20px;
}
.table-sm {
    font-size: 0.9em;
}
.badge {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.9em;
}
.bg-warning {
    background-color: #f0ad4e;
    color: #fff;
}
.bg-success {
    background-color: #5cb85c;
    color: #fff;
}
.bg-danger {
    background-color: #d9534f;
    color: #fff;
}
.table > thead > tr > th input.form-control {
    padding: 2px 8px;
    height: 24px;
    font-size: 0.9em;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.form-control {
    height: 30px;
    padding: 5px 10px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.mb-3 {
    margin-bottom: 1rem;
}
.mb-0 {
    margin-bottom: 0;
}
hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.text-right {
    text-align: right;
}
.table > tbody > tr > td .btn {
    margin: 0 2px;
}
</style>