<button class="btn btn-primary" ng-click="windowAgregarRequerimiento()">Agregar</button>
<input type="text" ng-keyup="cargarRequerimientos()" ng-model="filtroRequerimientos" class="form-control right filtro" placeholder="Filtrar..." />
<div class="clear"></div>
<div id="tabla-user-requerimientos">
    <table id="tabla-requerimientos-comercial" class="table table-striped table-condensed nowrap">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Pedido/Requeriimiento</th>
                <th>No. Ticket</th>
                <th>Detalle</th>
                <th>Fecha Pedido Cliente</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="requerimiento in requerimientosLista  | filter: filtroRequerimientos" ng-dblclick="mostrarDetalleRequerimiento(requerimiento.secuencial)">
                <td>{{requerimiento.cliente | limitTo:50}}</td>
                <td>{{requerimiento.requerimiento}}</td>
                <td>{{requerimiento.ticket }}</td>
                <td>{{requerimiento.detalle }}</td>
                <td>{{requerimiento.fecha }}</td>
                <td>
                    <button type="button" class="btn btn-xs btn-success" ng-click="editarRequerimiento(requerimiento.secuencial)"><span class="glyphicon glyphicon-edit"></span></button>
                </td>
                <td>
                    <button type="button" class="btn btn-xs btn-danger" ng-click="eliminarRequerimiento(requerimiento.secuencial)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th colspan="9">
                    <nav>
                        <ul class="pagination">
                            <li ng-click="atrazarPagina()">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-repeat="pagina in listaPaginas" ng-click="cambiarPagina(pagina)"><a href="#">{{pagina}}</a></li>
                            <li ng-click="avanzarPagina()">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </th>
            </tr>
        </tfoot>

    </table>
</div>

<div id="modal-agregar-requerimientos" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <form ng-submit="GuardarNuevoRequerimiento()">
                <div class="modal-header" style="padding: 10px, 10px">
                    <label>NUEVO REQUERIMIENTO</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label>
                                    <input type="checkbox" ng-model="habilitarTicket" ng-checked="habilitarTicketCkc()"> TICKET
                                </label>
                                <div ng-show="habilitarTicket" class="mt-2">
                                    <input type="text"
                                           class="form-control"
                                           id="ticketSeleccionado"
                                           ng-model="ticketSeleccionado"
                                           ng-model-options='{ debounce: 3000 }'
                                           ng-change="debounceValidarTicket(ticketSeleccionado)"
                                           ng-class="{'is-invalid': !ticketValido}"
                                           placeholder="Ingrese el número del ticket"
                                           ng-keypress="validarSoloNumeros($event)">
                                    <small class="text-danger" ng-if="!ticketValido && ticketSeleccionado">
                                        El número de ticket no es válido o no se encuentra en la base de datos.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <label>PEDIDO/REQUERIMIENTO:</label>
                        <select id="select-requerimiento" ng-model="pedReqSeleccionado" class="form-control" required="required">
                            <option value="">Seleccione...</option>
                            <option value="{{req.id}}" ng-repeat="req in requerimientos">{{req.descripcion}}</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <label>CLIENTE:</label>
                        <select id="select-cliente-requerimiento" ng-model="clienteSeleccionado" class="form-control" required="required">
                            <option value="">Seleccione...</option>
                            <option value="{{cliente.id}}" ng-repeat="cliente in clientes">{{cliente.nombre}}</option>
                        </select>
                    </div>
                    <br>

                    <div>
                        <label>DETALLE:</label>
                        <textarea id="detalle-requerimiento" type="text" class="form-control" ng-model="detalleSeleccionado"></textarea>
                    </div>
                    <br>

                    <div class="div-info-ticket">
                        <label>FECHA PEDIDO CLIENTE:</label>
                        <div class='input-group date'>
                            <input id="fecha-requerimiento" ng-model="fechaSeleccionada" class="form-control" ng-required="true" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <br>
                <div class="modal-footer">
                    <button type="submit" id="enviar-modal-requerimientos-btn" class="btn btn-primary">Guardar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-editar-requerimientos" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <form ng-submit="modificarRequerimiento()">
                <div class="modal-header" style="padding: 10px, 10px">
                    <label>EDITAR REQUERIMIENTO</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="hidden" id="secuencialRequerimiento" name="secuencialRequerimiento" ng-model="secuencialRequerimiento">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label>
                                    <input type="checkbox" ng-model="habilitarTicketE" ng-checked="habilitarTicketCkc()"> TICKET
                                </label>
                                <div ng-show="habilitarTicketE" class="mt-2">
                                    <input type="text"
                                           class="form-control"
                                           id="ticketSeleccionadoE"
                                           ng-model="ticketSeleccionadoE"
                                           ng-model-options='{ debounce: 3000 }'
                                           ng-change="debounceValidarTicket(ticketSeleccionadoE)"
                                           ng-class="{'is-invalid': !ticketValido}"
                                           placeholder="Ingrese el número del ticket"
                                           ng-keypress="validarSoloNumeros($event)">
                                    <small class="text-danger" ng-if="!ticketValido && ticketSeleccionadoE">
                                        El número de ticket no es válido o no se encuentra en la base de datos.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>
                        <label>PEDIDO/REQUERIMIENTO:</label>
                        <select id="select-editar-requerimiento" ng-model="pedReqSeleccionadoE" class="form-control" required="required">
                            <option value="">Seleccione...</option>
                            <option value="{{req.id}}" ng-repeat="req in requerimientos">{{req.descripcion}}</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <label>CLIENTE:</label>
                        <select id="select-editar-cliente-requerimiento" ng-model="clienteSeleccionadoE" class="form-control" required="required">
                            <option value="">Seleccione...</option>
                            <option value="{{cliente.id}}" ng-repeat="cliente in clientes">{{cliente.nombre}}</option>
                        </select>
                    </div>
                    <br>

                    <div>
                        <label>DETALLE:</label>
                        <textarea id="detalle-editar-requerimiento" type="text" class="form-control" ng-model="detalleSeleccionadoE"></textarea>
                    </div>
                    <br>

                    <div class="div-info-ticket">
                        <label>FECHA PEDIDO CLIENTE:</label>
                        <div class='input-group date'>
                            <input id="fecha-editar-requerimiento" ng-model="fechaSeleccionadaE" class="form-control" ng-required="true" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <br>
                <div class="modal-footer">
                    <button type="submit" id="enviar-modal-requerimientos-btn" class="btn btn-primary">Guardar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

