<button class="btn btn-primary" ng-click="abrirNuevaOferta()">Agregar Oferta</button>
<input type="text" ng-keyup="cargarOfertas()" ng-model="filtroOfertas" class="form-control right filtro" placeholder="Filtrar..." />
<div class="clear"></div>

<div id="tabla-user-ofertas">
    <table id="tabla-ofertas-comercial" class="table table-striped table-condensed nowrap">
        <thead>
            <tr>
                <th>Cód. Oferta</th>
                <th>F.Rec Estimación</th>
                <th>F.Gen Oferta</th>
                <th>F.Env Revisión</th>
                <th>F.Apr Gerencia</th>
                <th>F.Env Cliente</th>
                <th>F.Vencimiento</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="oferta in ofertasLista | filter: filtroOfertas" ng-dblclick="editarOferta(oferta.secuencial)">
                <td>{{oferta.codigo}}</td>
                <td>{{oferta.fechaEstimacion | strDateToStr}}</td>
                <td>{{oferta.fechaGeneracion | strDateToStr}}</td>
                <td>{{oferta.fechaRevision | strDateToStr}}</td>
                <td>{{oferta.fechaAprobacionGerencia | strDateToStr}}</td>
                <td>{{oferta.fechaEnvioOferta | strDateToStr}}</td>
                <td>{{oferta.fechaVencimiento | strDateToStr}}</td>
                <td>{{oferta.tipo}}</td>
                <td>
                    <button type="button" class="btn btn-xs btn-success" ng-click="verOferta(oferta.codigo)"><span class="glyphicon glyphicon-edit"></span></button>
                    <button type="button" class="btn btn-xs btn-danger" ng-click="borrarOferta(oferta.codigo)" title="Eliminar Oferta">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <th colspan="9">
                    <nav>
                        <ul class="pagination">
                            <li ng-click="atrazarPagina()">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li ng-repeat="pag in listaPaginas" ng-click="cambiarPagina(pag)"><a href="#">{{pag}}</a></li>
                            <li ng-click="avanzarPagina()">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </th>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Modal para Nueva Oferta -->
<div id="modal-nueva-oferta" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <form ng-submit="guardarOferta()">
                <div class="modal-header">
                    <label>NUEVA OFERTA</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" ng-model="esTicket" ng-change="toggleTicketFields()"> Es Ticket
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-show="esTicket">
                                <label>No. Ticket:</label>
                                <input type="text" class="form-control" ng-model-options='{ debounce: 2000 }' ng-model="ofertaSeleccionada.numeroTicket" ng-change="buscarDatosTicket(ofertaSeleccionada.numeroTicket)"  required>
                            </div>
                            <div class="form-group">
                                <label>F.Rec Estimación:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionada.fechaEstimacion" required ng-disabled="esTicket">
                            </div>
                            <div class="form-group">
                                <label>F.Env Revisión:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionada.fechaRevision" required ng-disabled="esTicket">
                            </div>
                            <div class="form-group">
                                <label>F.Apr Gerencia:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionada.fechaAprobacionGerencia" required ng-disabled="esTicket">
                            </div>
                            <div class="form-group">
                                <label>F.Env Cliente:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionada.fechaEnvioOferta" required ng-disabled="esTicket">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Requerimiento:</label>
                                <select class="form-control" ng-model="ofertaSeleccionada.OfertaRequerimiento" required>
                                    <option value="">Seleccione un tipo</option>
                                    <option ng-repeat="tipo in ofertaRequerimientos" value="{{tipo.secuencial}}">{{tipo.detalle}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>F.Generación:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionada.fechaGeneracion" required>
                            </div>
                            <div class="form-group">
                                <label>F.Vencimiento:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionada.fechaVencimiento" required>
                            </div>
                            <div class="form-group">
                                <label>Cód. Oferta:</label>
                                <input type="text" class="form-control" ng-model="ofertaSeleccionada.codigo" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar Oferta -->
<div id="modal-editar-oferta" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-l">
        <div class="modal-content">
            <form ng-submit="guardarOfertaEditada()">
                <div class="modal-header">
                    <label>EDITAR OFERTA</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" ng-model="esTicketEditar" ng-change="toggleTicketFieldsEditar()" ng-disabled="true"> Es Ticket
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-show="esTicketEditar">
                                <label>No. Ticket:</label>
                                <input type="text" class="form-control" ng-model="ofertaSeleccionadaEditar.numeroTicket" required ng-disabled="true">
                            </div>
                            <div class="form-group">
                                <label>F.Rec Estimación:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionadaEditar.fechaEstimacion" required ng-disabled="esTicketEditar">
                            </div>
                            <div class="form-group">
                                <label>F.Env Revisión:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionadaEditar.fechaRevision" required ng-disabled="esTicketEditar">
                            </div>
                            <div class="form-group">
                                <label>F.Apr Gerencia:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionadaEditar.fechaAprobacionGerencia" required ng-disabled="esTicketEditar">
                            </div>
                            <div class="form-group">
                                <label>F.Env Cliente:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionadaEditar.fechaEnvioOferta" required ng-disabled="esTicketEditar">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Requerimiento:</label>
                                <select class="form-control" ng-model="ofertaSeleccionadaEditar.OfertaRequerimiento" required>
                                    <option value="">Seleccione un tipo</option>
                                    <option ng-repeat="tipo in ofertaRequerimientos" value="{{tipo.secuencial}}">{{tipo.detalle}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>F.Gen Oferta:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionadaEditar.fechaGeneracion" required>
                            </div>
                            <div class="form-group">
                                <label>F.Vencimiento:</label>
                                <input type="date" class="form-control" ng-model="ofertaSeleccionadaEditar.fechaVencimiento" required>
                            </div>
                            <div class="form-group">
                                <label>Cod. Oferta:</label>
                                <input type="text" class="form-control" ng-model="ofertaSeleccionadaEditar.codigo" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>