<div class="full-size">
    <div class="left un-medio full-height half-padding-right">
        <div id="div-panel-gcalor-7d" class="panel panel-danger">
            <div class="panel-heading">Mapa de Calor Últimos 7 días</div>
                <div id="mapa-graph-calor-7d"></div>
            <div class="panel-body"></div>
        </div>        
    </div>
    <div class="left un-medio full-height half-padding-left">
        <div id="div-panel-gerrores-fecha" class="panel panel-danger">
            <div class="panel-heading">Errores en Soluciones por Fecha</div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>