/*
   jueves, 28 de diciembre de 202304:20:51 p. m.
   User: 
   Server: DESKTOP-8ATOCDQ\SQL2019
   Database: SifizPlanning
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.COLABORADOR SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.COLABORADOR', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TAREAS.CLIENTE SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.CLIENTE', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.CLIENTE', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.CLIENTE', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE TICKET.INCIDENCIAS
	DROP CONSTRAINT FK_INCIDENCIAS_MODULO
GO
ALTER TABLE TAREAS.MODULO SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'TAREAS.MODULO', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TAREAS.MODULO', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TAREAS.MODULO', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE TICKET.Tmp_INCIDENCIAS
	(
	SECUENCIAL int NOT NULL IDENTITY (1, 1),
	SECUENCIALCLIENTE int NOT NULL,
	SECUENCIALMODULO int NOT NULL,
	INCIDENTE nvarchar(255) NOT NULL,
	ADJUNTO nvarchar(255) NOT NULL,
	ACCIONES nvarchar(255) NOT NULL,
	SECUENCIALCOLABORADOR int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE TICKET.Tmp_INCIDENCIAS SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT TICKET.Tmp_INCIDENCIAS ON
GO
IF EXISTS(SELECT * FROM TICKET.INCIDENCIAS)
	 EXEC('INSERT INTO TICKET.Tmp_INCIDENCIAS (SECUENCIAL, SECUENCIALCLIENTE, SECUENCIALMODULO, INCIDENTE, ADJUNTO)
		SELECT SECUENCIAL, CONVERT(int, VERSION), SECUENCIALMODULO, INCIDENTE, ADJUNTO FROM TICKET.INCIDENCIAS WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT TICKET.Tmp_INCIDENCIAS OFF
GO
DROP TABLE TICKET.INCIDENCIAS
GO
EXECUTE sp_rename N'TICKET.Tmp_INCIDENCIAS', N'INCIDENCIAS', 'OBJECT' 
GO
ALTER TABLE TICKET.INCIDENCIAS ADD CONSTRAINT
	PK_INCIDENCIAS PRIMARY KEY CLUSTERED 
	(
	SECUENCIAL
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE TICKET.INCIDENCIAS ADD CONSTRAINT
	FK_INCIDENCIAS_MODULO FOREIGN KEY
	(
	SECUENCIALMODULO
	) REFERENCES TAREAS.MODULO
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.INCIDENCIAS ADD CONSTRAINT
	FK_INCIDENCIAS_CLIENTE FOREIGN KEY
	(
	SECUENCIALCLIENTE
	) REFERENCES TAREAS.CLIENTE
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE TICKET.INCIDENCIAS ADD CONSTRAINT
	FK_INCIDENCIAS_COLABORADOR FOREIGN KEY
	(
	SECUENCIALCOLABORADOR
	) REFERENCES TAREAS.COLABORADOR
	(
	SECUENCIAL
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
COMMIT
select Has_Perms_By_Name(N'TICKET.INCIDENCIAS', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'TICKET.INCIDENCIAS', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'TICKET.INCIDENCIAS', 'Object', 'CONTROL') as Contr_Per 