<div>
    <input type="text" id="filtro-permisos" placeholder="Filtrar..." ng-model-options='{ debounce: 1000 }' ng-change="recargarVacaciones()" ng-model="filtroPermisos" class="form-control right filtro" />
</div>
<div class="left">
    <div style="display: flex; align-items: center">
        <strong>Vacaciones/Permisos</strong>
        <input type="checkbox" style="transform: scale(1); margin-left: 5px; margin-bottom: 2px" ng-model="esVacaciones" ng-init="esVacaciones=true">
    </div>
</div>
<div class="clear"></div>
<div ng-show="esVacaciones" style="height: calc(100vh - 175px); width: 100%; overflow-y: auto;">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th hidden>ID</th>
                <th></th>
                <th>Acciones</th>
                <th>Estado</th>
                <th>Apellidos Nombres</th>
                <th>Cargo</th>
                <th>Cédula</th>
                <th>Fecha Ingreso Solicitud</th>
                <th>Empresa</th>
                <th>Años Servicio</th>
                <th>Dias Corresponden</th>
                <th>Dias Disfrutar</th>
                <th>Dias Pendientes</th>
                <th>Del Año</th>
                <th>Al Año</th>
                <th>Fecha Inicio Vacaciones</th>
                <th>Fecha Fin Vacaciones</th>
                <th>Fecha Presentarse Trabajar</th>
                <th>Jefe</th>
                <th>Observaciones</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="solicitudVac in vacaciones">
                <td hidden>{{solicitudVac.ID}}</td>
                <td> <button type="button" class="btn btn-link" ng-click="showVacDetail(solicitudVac)">Ver</button> </td>
                <td>
                    <div style="display: flex; align-items: center">
                        <button class="btn btn-link" ng-click="aceptarVacaciones(solicitudVac)">
                            <span class="glyphicon glyphicon-ok" style="color: seagreen"></span>
                        </button>
                        <button class="btn btn-link" ng-click="rechazarSolicitudVacaciones(solicitudVac)">
                            <span class="glyphicon glyphicon-remove" style="color: darkred"></span>
                        </button>
                    </div>
                </td>
                <td ng-if="solicitudVac.Estado === 'PENDIENTE'">
                    <div style="display: flex; align-items: center">
                        <span class="badge" style="background-color: goldenrod;">&nbsp;</span>&nbsp;{{solicitudVac.Estado}}
                    </div>
                </td>
                <td ng-if="solicitudVac.Estado === 'APROBADA'">
                    <div style="display: flex; align-items: center">
                        <span class="badge" style="background-color:seagreen">&nbsp;</span>&nbsp;{{solicitudVac.Estado}}
                    </div>
                </td>
                <td ng-if="solicitudVac.Estado === 'RECHAZADA'">
                    <div style="display: flex; align-items: center">
                        <span class="badge" style="background-color:darkred">&nbsp;</span>&nbsp;{{solicitudVac.Estado}}
                    </div>
                </td>
                <td>{{solicitudVac.ApellidosNombres}}</td>
                <td>{{solicitudVac.Cargo}}</td>
                <td>{{solicitudVac.Cedula}}</td>
                <td>{{solicitudVac.FechaIngresoSolicitud | strDateToStr}}</td>
                <td>{{solicitudVac.Empresa}}</td>
                <td>{{solicitudVac.AniosServicio}}</td>
                <td>{{solicitudVac.DiasCorresponden}}</td>
                <td>{{solicitudVac.DiasDisfrutar}}</td>
                <td>{{solicitudVac.DiasPendientes}}</td>
                <td>{{solicitudVac.DelAnio}}</td>
                <td>{{solicitudVac.AlAnio}}</td>
                <td>{{solicitudVac.FechaInicioVacaciones | strDateToStr}}</td>
                <td>{{solicitudVac.FechaFinVacaciones | strDateToStr}}</td>
                <td>{{solicitudVac.FechaPresentarseTrabajar | strDateToStr}}</td>
                <td>{{solicitudVac.Jefe}}</td>
                <td>{{solicitudVac.Observaciones}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-show="!esVacaciones" style="height: calc(100vh - 175px); width: 100%; overflow-y: auto; overflow-x: no-display;">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th hidden>ID</th>
                <th></th>
                <th>Acciones</th>
                <th>Estado</th>
                <th>Apellidos Nombres</th>
                <th>Area</th>
                <th>Cargo</th>
                <th>Cedula</th>
                <th>Empresa</th>
                <th>Fecha Ingreso Solicitud</th>
                <th>Fecha Desde</th>
                <th>Fecha Hasta</th>
                <th>Hora Retorno</th>
                <th>Hora Salida</th>
                <th>Motivo</th>
                <th>Personal</th>
                <th>Calamidad</th>
                <th>Jefe</th>
                <th>Matrimonio</th>
                <th>Paternidad</th>
                <th>Otros</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="solicitudPer in permisos">
                <td hidden>{{solicitudPer.ID}}</td>
                <td> <button type="button" class="btn btn-link" ng-click="showPerDetail(solicitudPer)">Ver</button> </td>
                <td>
                    <div style="display: flex; align-items: center">
                        <button class="btn btn-link" ng-click="aceptarPermiso(solicitudPer)">
                            <span class="glyphicon glyphicon-ok" style="color: seagreen"></span>
                        </button>
                        <button class="btn btn-link" ng-click="rechazarSolicitudPermiso(solicitudPer)">
                            <span class="glyphicon glyphicon-remove" style="color: darkred"></span>
                        </button>
                    </div>
                </td>
                <td ng-if="solicitudPer.Estado === 'PENDIENTE'">
                    <div style="display: flex; align-items: center">
                        <span class="badge" style="background-color: goldenrod;">&nbsp;</span>&nbsp;{{solicitudPer.Estado}}
                    </div>
                </td>
                <td ng-if="solicitudPer.Estado === 'APROBADA'">
                    <div style="display: flex; align-items: center">
                        <span class="badge" style="background-color:seagreen">&nbsp;</span>&nbsp;{{solicitudPer.Estado}}
                    </div>
                </td>
                <td ng-if="solicitudPer.Estado === 'RECHAZADA'">
                    <div style="display: flex; align-items: center">
                        <span class="badge" style="background-color:darkred">&nbsp;</span>&nbsp;{{solicitudPer.Estado}}
                    </div>
                </td>
                <td>{{solicitudPer.ApellidosNombres}}</td>
                <td>{{solicitudPer.Area}}</td>
                <td>{{solicitudPer.Cargo}}</td>
                <td>{{solicitudPer.Cedula}}</td>
                <td>{{solicitudPer.Empresa}}</td>
                <td>{{solicitudPer.FechaIngresoSolicitud | strDateToStr}}</td>
                <td>{{solicitudPer.FechaDesde | strDateToStr}}</td>
                <td>{{solicitudPer.FechaHasta | strDateToStr}}</td>
                <td>{{solicitudPer.HoraRetorno}}</td>
                <td>{{solicitudPer.HoraSalida}}</td>
                <td>{{solicitudPer.Motivo}}</td>
                <td>{{solicitudPer.Personal}}</td>
                <td>{{solicitudPer.Comida}}</td>
                <td>{{solicitudPer.Jefe}}</td>
                <td>{{solicitudPer.Matrimonio}}</td>
                <td>{{solicitudPer.Paternidad}}</td>
                <td>{{solicitudPer.Otros}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div id="modal-show-vacaciones" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Detalles</h5>
            </div>
            <div class="modal-body">
                <table id="table-show-vacaciones" class="table table-sm table-bordered table-sm table-striped">
                    <tbody>
                        <tr>
                            <td colspan="4"></td>
                            <td colspan="4" style="text-align: center;">
                                <h5 class="modal-title">SOLICITUD Y AUTORIZACION DE VACACIONES</h5>
                            </td>
                            <td colspan="4">
                                <div class="d-flex flex-column">
                                    <div>Código:</div>
                                    <div>Fecha de Elaboración:</div>
                                    <div>Fecha de Aprobación:</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12">
                                <strong>Apellidos y Nombres:</strong>
                                <span>{{solicitudVacacionesUsuario.ApellidosNombres}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <strong>Cargo:</strong>
                                <span>{{solicitudVacacionesUsuario.Cargo}}</span>
                            </td>

                            <td colspan="6">
                                <strong>Cédula:</strong>
                                <span>{{solicitudVacacionesUsuario.Cedula}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <strong>Fecha de Ingreso de la Solicitud:</strong>
                                <span>{{solicitudVacacionesUsuario.FechaIngresoSolicitud | strDateToStr}}</span>
                            </td>

                            <td colspan="6">
                                <strong>Empresa:</strong>
                                <span>{{solicitudVacacionesUsuario.Empresa}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <strong>FECHA QUE DEBERÁ PRESENTARSE A TRABAJAR (dd/mm/aaaa):</strong>
                                <span>{{solicitudVacacionesUsuario.FechaPresentarseTrabajar | strDateToStr}}</span>
                            </td>
                            <td colspan="6">
                                <strong>Años de Servicio:</strong>
                                <span>{{solicitudVacacionesUsuario.AniosServicio}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <strong>Días Corresponden:</strong>
                                <span>{{solicitudVacacionesUsuario.DiasCorresponden}}</span>
                            </td>
                            <td colspan="4">
                                <strong>Días a Disfrutar:</strong>
                                <span>{{solicitudVacacionesUsuario.DiasDisfrutar}}</span>
                            </td>
                            <td colspan="4">
                                <strong>Días Pendientes:</strong>
                                <span>{{solicitudVacacionesUsuario.DiasPendientes}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <strong>PERIODO A DISFRUTAR:</strong>
                                <span></span>
                            </td>

                            <td colspan="4">
                                <strong>Del Año:</strong>
                                <span>{{solicitudVacacionesUsuario.DelAnio}}</span>
                            </td>

                            <td colspan="4">
                                <strong>Al Año:</strong>
                                <span>{{solicitudVacacionesUsuario.AlAnio}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <strong>DÍAS QUE INICIAN SUS VACACIONES</strong>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <strong>Fecha  desde (dd/mm/aaaa):</strong>
                                <span>{{solicitudVacacionesUsuario.FechaInicioVacaciones | strDateToStr}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <strong>Fecha  hasta (dd/mm/aaaa):</strong>
                                <span>{{solicitudVacacionesUsuario.FechaFinVacaciones | strDateToStr}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <strong>OBSERVACIONES:</strong>
                            </td>
                            <td colspan="8">
                                <span>{{solicitudVacacionesUsuario.Observaciones}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <strong>Nota: El recibir esta solicitud no implica que está aprobada, su jefe inmediato le comunicará por escrito si su solicitud ha sido aprobada o no.</strong>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <strong>APELLIDOS Y NOMBRES JEFE (A) INMEDIATO:</strong>
                                <span>{{solicitudVacacionesUsuario.Jefe}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <strong>POR EL PRESENTE EXPRESO MI CONFORMIDAD DE SOLICITAR Y GOZAR MIS VACACIONES DE ACUERDO A LO QUE ESTABLECE EL ARTICULO 69 DEL CODIGO DE TRABAJO.</strong>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <div style="text-align:center" class="d-flex flex-column">
                                    <div>___________________________________</div>
                                    <div>Firma del Funcionario</div>
                                </div>
                            </td>

                            <td colspan="4">
                                <div style="text-align:center" class="d-flex flex-column">
                                    <div>___________________________________</div>
                                    <div>Firma Inmediato Superior</div>
                                </div>
                            </td>

                            <td colspan="4">
                                <div style="text-align:center" class="d-flex flex-column">
                                    <div>___________________________________</div>
                                    <div>Firma de Talento Humano</div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="generarVacacionesPDF()">Exportar a PDF</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-rechazar-permiso" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Rechazar Permiso</h5>
            </div>
            <div class="modal-body">
                Comentario de rechazo de permiso:
                <textarea class="form-control" ng-model="rechazoPermisoComentario" maxlength="300" rows="8" ng-required="true"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="rechazarPermiso()">Enviar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-rechazar-vacaciones" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Rechazar Vacaciones</h5>
            </div>
            <div class="modal-body">
                Comentario de rechazo de vacaciones:
                <textarea class="form-control" ng-model="rechazoVacacionesComentario" maxlength="300" rows="8" ng-required="true"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="rechazarVacaciones()">Enviar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-show-solicitud" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Detalles</h5>


            </div>
            <div class="modal-body">

                <table id="table-show-permiso" class="table table-sm table-bordered table-sm table-striped">
                    <tbody>
                        <tr>
                            <td colspan="4"></td>
                            <td colspan="4" style="text-align: center;">
                                <h5 class="modal-title">SOLICITUD DE PERMISOS</h5>
                            </td>
                            <td colspan="4">
                                <div class="d-flex flex-column">
                                    <div>Código:</div>
                                    <div>Fecha de Elaboración:</div>
                                    <div>Fecha de Aprobación:</div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6">
                                <strong>Apellidos y Nombres:</strong>
                                <span>{{solicitudPerUsuario.ApellidosNombres}}</span>
                            </td>

                            <td colspan="6">
                                <strong>Cédula:</strong>
                                <span>{{solicitudPerUsuario.Cedula}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6">
                                <strong>Cargo:</strong>
                                <span>{{solicitudPerUsuario.Cargo}}</span>
                            </td>

                            <td colspan="6">
                                <strong>Área:</strong>
                                <span>{{solicitudPerUsuario.Area}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6">
                                <strong>Fecha de Ingreso de la Solicitud:</strong>
                                <span>{{solicitudPerUsuario.FechaIngresoSolicitud | strDateToStr}}</span>
                            </td>

                            <td colspan="6">
                                <strong>Empresa:</strong>
                                <span>{{solicitudPerUsuario.Empresa}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <strong>PERMISO CON CARGO A VACACIONES:</strong>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="6">
                                <strong>ASUNTO:</strong>
                                <span></span>
                            </td>

                            <td colspan="6">
                                <strong>PERSONALES:</strong>
                                <span>{{solicitudPerUsuario.Personal}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <strong>PERMISO SIN CARGO A VACACIONES:</strong>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <strong>ASUNTO:</strong>
                                <span></span>
                            </td>

                            <td colspan="4">
                                <div style="text-align:center" class="d-flex flex-column">
                                    <div>
                                        <strong>MATRIMONIO:</strong>
                                        <span>{{solicitudPerUsuario.Matrimonio}}</span>
                                    </div>
                                    <div>
                                        <strong>CALAMIDAD DOMESTICA:</strong>
                                        <span>{{solicitudPerUsuario.Comida}}</span>
                                    </div>
                                </div>
                            </td>

                            <td colspan="4">
                                <div style="text-align:center" class="d-flex flex-column">
                                    <div>
                                        <strong>MATERNIDAD Y/O PATERNIDAD:</strong>
                                        <span>{{solicitudPerUsuario.Paternidad}}</span>
                                    </div>
                                    <div>
                                        <strong>OTROS:</strong>
                                        <span>{{solicitudPerUsuario.Otros}}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td text-align: center;" colspan="12">
                                <strong>AUSENCIA APROXIMADA DE:</strong>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <div class="d-flex flex-column">
                                    <div>
                                        <strong>Fecha Desde:</strong>
                                        <span>{{solicitudPerUsuario.FechaDesde | strDateToStr}}</span>
                                    </div>
                                    <div>
                                        <strong>Hora de Salida:</strong>
                                        <span>{{solicitudPerUsuario.HoraSalida}}</span>
                                    </div>
                                </div>
                            </td>

                            <td colspan="4">
                                <div class="d-flex flex-column">
                                    <div>
                                        <strong>Fecha Hasta:</strong>
                                        <span>{{solicitudPerUsuario.FechaHasta | strDateToStr}}</span>
                                    </div>
                                    <div>
                                        <strong>Hora de Retorno:</strong>
                                        <span>{{solicitudPerUsuario.HoraRetorno}}</span>
                                    </div>
                                </div>
                            </td>

                            <td colspan="4">
                                <strong>TOTAL, DE HORAS:</strong>
                                <span>{{solicitudPerUsuario.TotalHoras}}</span>
                            </td>

                        </tr>

                        <tr>
                            <td text-align: center;" colspan="12">
                                <strong>MOTIVO</strong>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <div class="d-flex flex-column">
                                    <div>
                                        <span>{{solicitudPerUsuario.Motivo}}</span>
                                    </div>
                                    <div style="text-align: start">
                                        <span>NOTA: anexar justificativo </span>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <strong>Nota: El recibir esta solicitud no implica que está aprobada, su jefe inmediato le comunicará por escrito si su solicitud ha sido aprobada o no.</strong>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <strong>APELLIDOS Y NOMBRES JEFE (A) INMEDIATO:</strong>
                                <span>{{solicitudPerUsuario.Jefe}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="4">
                                <div style="text-align:center" class="d-flex flex-column">
                                    <div>___________________________________</div>
                                    <div>Firma del Funcionario</div>
                                </div>
                            </td>

                            <td colspan="4">
                                <div style="text-align:center" class="d-flex flex-column">
                                    <div>___________________________________</div>
                                    <div>Firma Inmediato Superior</div>
                                </div>
                            </td>

                            <td colspan="4">
                                <div style="text-align:center" class="d-flex flex-column">
                                    <div>___________________________________</div>
                                    <div>Firma de Talento Humano</div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="generarPermisoPDF()">Exportar a PDF</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<style>
    .table > tbody > tr > td {
        padding: 5px;
    }

    table tr {
        height: 20px;
    }
</style>